{
	"testrun_uuid": "",
	"base_cloudstack_version": "{{env_numversion }}",
	"pr_id": "null",
	"rc_num": "null",
	"marvin_tags": "advanced",
	"marvin_hypervisor": "{{ env_hv }}",
	"hypervisor_version": "7.0",
	"hypervisor_minor_version": "",
	"mgmt_server_os": "",
	"mgmt_server_os_ver": "",
	"test_data_py_contents": "",
	"testrun_date": ""
}
