{
	"testrun_uuid": "",
        "testrun_name": "{{ env_name_clean }} -- {{ env_comment }}",
	"base_cloudstack_version": "{{ env_numversion }}",
	"pr_id": "null",
	"rc_num": "null",
	"marvin_tags": "advanced",
	"marvin_hypervisor": "{{ env_hv }}",
	"hypervisor_version": "",
	"testrun_date": ""
}
