#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.


{
	"zones": [{
		"name": "{{ env_name_clean }}",
		"guestcidraddress": "{{ env_zone_guestcidr }}",
		"dns1": "{{ env_zone_dns1 }}",
		"physical_networks": [{
			"broadcastdomainrange": "Zone",
			"name": "Trillian-Guest-Public",
			"traffictypes": [{
				"typ": "Guest"
			}, {
				"typ": "Public"
			}],
			"providers": [{
				"broadcastdomainrange": "ZONE",
				"name": "VirtualRouter"
			}, {
				"broadcastdomainrange": "ZONE",
				"name": "VpcVirtualRouter"
			}, {
				"broadcastdomainrange": "ZONE",
				"name": "InternalLbVm"
			}],
			"isolationmethods": [
				"VLAN"
			]
		},{
			"broadcastdomainrange": "Zone",
			"name": "Trillian-Mgmt",
			"traffictypes": [{
				"typ": "Management"
			},],
			"providers": [{
				"broadcastdomainrange": "ZONE",
				"name": "VirtualRouter"
			}, {
				"broadcastdomainrange": "ZONE",
				"name": "VpcVirtualRouter"
			}, {
				"broadcastdomainrange": "ZONE",
				"name": "InternalLbVm"
			}],
			"isolationmethods": [
				"VLAN"
			]
		}],
{% if env_hypervisor == "vmware" %}
		"vmwaredc": {
			"username": "{{ vmware_vcsa_user }}",
			"vcenter": "{{ hostvars(groups[vc_hosts][0]).ssh_hostname }}",
			"password": "{{ vmware_vcsa_pass }}",
			"name": "{{ vmware_datacenter_name }}"
		},
{% endif %}
		"ipranges": [{
			"startip": "$PUBLIC_STARTIP",
			"endip": "$PUBLIC_ENDIP",
			"netmask": "$PUBLIC_MASK",
			"vlan": "$PUBLIC_VLAN",
			"gateway": "$PUBLIC_GATEWAY"
		}],
		"networktype": "Advanced",
		"pods": [{
			"endip": "$POD1_RES_ENDIP",
			"name": "$POD1_NAME",
			"startip": "$POD1_RES_STARTIP",
			"netmask": "$POD1_MASK",
			"clusters": [{
					"clustername": "{{ env_zone_clustername }}",
					"hypervisor": "{{ env_hypervisor }}",
{% if env_hv == "kvm" %}
					"hosts": [
{% for host in groups['kvm_hosts'] %}            {
						"username": "root",
						"url": "http://{{ hostvars[host]['ansible_ssh_host'] }}",
						"password": "{{ hostvars[host]['ansible_ssh_pass'] }}"
					}{% if not loop.last %},{% endif %}{% endfor %}
					],
					"clustertype": "CloudManaged",
{% elif env_hv == "xenserver" %}
					"hosts": [
{% for host in groups['xenserver_hosts'] %}            {
						"username": "root",
						"url": "http://{{ hostvars[host]['ansible_ssh_host'] }}",
						"password": "{{ hostvars[host]['ansible_ssh_pass'] }}"
					}{% if not loop.last %},{% endif %}{% endfor %}
					],
					"clustertype": "CloudManaged",
{% elif env_hv == "vmware" %}
					"hosts": [{
{% for host in groups['vmware_hosts'] %}            {
						"username": "root",
						"url": "http://{{ hostvars[host]['ansible_ssh_host'] }}",
						"password": "{{ hostvars[host]['ansible_ssh_pass'] }}"
					}{% if not loop.last %},{% endif %}{% endfor %}
					],
					"clustertype": "CloudManaged",
{% endif %}
					"primaryStorages": [{
{% for pripool in env_pripools %}
						"url": "{{ env_priprot }}://{{ env_prihost }}{{ env_pripath }}{{ env_name_clean }}/{{ pripool }}/",
						"name": "{{ pripool }}"
{% endfor %}
					}]
				}

			],
			"gateway": "$POD1_GATEWAY"
		}],
		"internaldns1": "{{ env_zone_intdns1 }}",
		"secondaryStorages": [{
{% for secpool in env_secpools %}
			"url": "nfs://{{ env_sechost }}{{ env_secpath }}{{ env_name_clean }}/{{ secpool }}/",
			"name": "{{ secpool }}"
			"provider": "NFS"
{% endfor %}
		}]
	}],
	"dbSvr": {
{% if db | int == 0 %}		"dbSvr": "{{ hostvars(groups[primary_cs_manager][0]).ssh_hostname }}",{% endif %}
{% if db | int > 0 %}		"dbSvr": "{{ hostvars(groups[mysql_master_host][0]).ssh_hostname }}",{% endif %}
		"passwd": "{{ mysql_cloud_password }}",
		"db": "cloud",
		"port": 3306,
		"user": "cloud"
	},
	"logger": {
		"LogFolderPath": "/var/log"
	},
	"globalConfig": [{
		"name": "account.cleanup.interval",
		"value": 60
	}, {
		"name": "extract.url.cleanup.interval",
		"value": 300
	}, {
		"name": "network.securitygroups.work.cleanup.interval",
		"value": 120
	}, {
		"name": "task.cleanup.retry.interval",
		"value": 600
	}, {
		"name": "vm.op.cleanup.interval",
		"value": 600
	}, {
		"name": "vm.op.cleanup.wait",
		"value": 600
	}, {
		"name": "vpc.cleanup.interval",
		"value": 600
	}, {
		"name": "alert.wait",
		"value": 300
	}, {
		"name": "backup.snapshot.wait",
		"value": 600
	}, {
		"name": "copy.volume.wait",
		"value": 600
	}, {
		"name": "create.private.template.from.snapshot.wait",
		"value": 600
	}, {
		"name": "create.private.template.from.volume.wait",
		"value": 600
	}, {
		"name": "create.volume.from.snapshot.wait",
		"value": 600
	}, {
		"name": "migratewait",
		"value": 1200
	}, {
		"name": "primary.storage.download.wait",
		"value": 900
	}, {
		"name": "storage.pool.max.waitseconds",
		"value": 900
	}, {
		"name": "update.wait",
		"value": 300
	}, {
		"name": "vm.op.cleanup.wait",
		"value": 600
	}, {
		"name": "vm.tranisition.wait.interval",
		"value": 300
	}, {
		"name": "vmsnapshot.create.wait",
		"value": 900
	}, {
		"name": "xapiwait",
		"value": 300
	}, {
		"name": "router.alerts.check.interval",
		"value": 300
	}, {
		"name": "network.gc.wait",
		"value": "60"
	}, {
		"name": "storage.cleanup.interval",
		"value": "300"
	}, {
		"name": "vm.op.wait.interval",
		"value": "5"
	}, {
		"name": "default.page.size",
		"value": "10000"
	}, {
		"name": "network.gc.interval",
		"value": "60"
	}, {
		"name": "instance.name",
		"value": "QA"
	}, {
		"name": "workers",
		"value": "10"
	}, {
		"name": "guest.domain.suffix",
		"value": "sandbox.simulator"
	}, {
		"name": "expunge.delay",
		"value": "60"
	}, {
		"name": "vm.allocation.algorithm",
		"value": "random"
	}, {
		"name": "expunge.interval",
		"value": "60"
	}, {
		"name": "expunge.workers",
		"value": "3"
	}, {
		"name": "check.pod.cidrs",
		"value": "true"
	}, {
		"name": "secstorage.allowed.internal.sites",
		"value": "10.0.0.0/8"
	}, {
		"name": "direct.agent.load.size",
		"value": "1000"
	}, {
		"name": "enable.dynamic.scale.vm",
		"value": "true"
	}],
	"mgtSvr": [{
		"mgtSvrIp": "{{ hostvars(groups[primary_cs_manager][0]).ssh_hostname }}",
		"port": 8096,
		"user": "{{ mgmtsrv_username }}",
		"passwd": "{{ mgmtsrv_password }}",
		"hypervisor": "{{ env_hypervisor }}"
	}]
}
