#!/bin/bash
#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

remove_old_files() {
  rm -f $CLEAN_UP_LOG
  rm -f $SUMMARY_FILE
  rm -rf $TESTDIR/test_*.pyc
  rm -f /usr/lib/python2.7/site-packages/marvin/*pyc
  rm -f /usr/lib/python2.7/site-packages/marvin/config/*pyc
  rm -f /usr/lib/python2.7/site-packages/marvin/lib/*pyc
  rm -f /usr/local/lib/python3.6/site-packages/marvin/*pyc
  rm -f /usr/local/lib/python3.6/site-packages/marvin/config/*pyc
  rm -f /usr/local/lib/python3.6/site-packages/marvin/lib/*pyc
  touch $CLEAN_UP_LOG
}

record_existing_entities() {
  cmk list accounts listall=true name="baremetal-system-account" | jq -r '.account[] .id'  > .skipdeletingaccounts
  cmk list accounts listall=true name="ACSuser" | jq -r '.account[] .id'  >> .skipdeletingaccounts
  cmk list accounts listall=true name="admin" | jq -r '.account[] .id'  >> .skipdeletingaccounts
  cmk list serviceofferings listall=true issystem=false name='medium instance' | jq -r '.serviceoffering[].id' > .skipdeleteofferings
  cmk list serviceofferings listall=true issystem=false name='small instance' | jq -r '.serviceoffering[].id' >> .skipdeleteofferings
  cmk list diskofferings listall=true issystem=false name='small' | jq -r '.diskoffering[].id' > .skipdeletediskofferings
  cmk list diskofferings listall=true issystem=false name='medium' | jq -r '.diskoffering[].id' >> .skipdeletediskofferings
  cmk list diskofferings listall=true issystem=false name='large' | jq -r '.diskoffering[].id' >> .skipdeletediskofferings
  cmk list diskofferings listall=true issystem=false name='custom' | jq -r '.diskoffering[].id' >> .skipdeletediskofferings
  cmk list domains listall=true name="root" | jq -r '.domain[].id' > .skipdeletingdomains
}

cleanup() {
  # dont wait for async job - execute in parallel until told otherwise
  cmk set asyncblock false
  cmk set output json
  # TODO: destroy accounts, domains, templates
  echo "Destroy alerts"
  for id in $(cmk list alerts listall=true keyword=vm | jq -r '.alert[] .id'); do
    cmk delete alerts ids=$id || true
  done

  echo "Destroy vms, all in parallel"
  NUM_GCVMS=`cmk list virtualmachines listall=true $GCVMS | jq -r '.virtualmachine[].id' | wc -l`
  if [[ $NUM_GCVMS -gt $STUCKVMS ]]; then
    echo "$(basename $file) left behind $(($NUM_GCVMS-$STUCKVMS)) VMs" >> $CLEAN_UP_LOG
    for vmid in $(cmk list virtualmachines listall=true $GCVMS | jq -r '.virtualmachine[].id'); do
      cmk destroy virtualmachine id=$vmid expunge=true || true
    done
    echo "wait ${sleepduration}s to give VMs some time to be destroyed"
    sleep $sleepduration
  fi

  tries=$retries
  while [ $tries -gt 0 ]
  do
    echo "retrying destroying remaining vms $tries more times, again in parallel"
    NUM_GCVMS=`cmk list virtualmachines listall=true| jq -r '.virtualmachine[].id' | wc -l`
    if [[ $NUM_GCVMS -gt $STUCKVMS ]]; then
      echo "Still $NUM_GCVMS left. waiting.."
      sleep $sleepduration
      tries=$((tries)-1)
      if [ retries -eq 0 ]; then STUCKVMS=$NUM_GCVMS; fi
    else
      tries=0
    fi
  done

  echo "Destroy templates, forced, since some VMs might exist."
  NUM_GCTEMPLATES=`cmk list templates templatefilter=self listall=true | jq -r '.template[].id' | wc -l`
  if [[ $NUM_GCTEMPLATES -gt $STUCKTEMPLATES ]]; then
    echo "$(basename $file) left behind $(($NUM_GCTEMPLATES-$STUCKTEMPLATES)) templates" >> $CLEAN_UP_LOG
    cmk set asyncblock true
    for templateid in $(cmk list templates templatefilter=self listall=true | jq -r '.template[].id'); do
      cmk delete template id=$templateid forced=true  || true
    done
    STUCKTEMPLATES=`cmk list templates templatefilter=self | jq -r '.template[].id' | wc -l`
  fi

  tries=$retries
  echo "deleting networks"
  NUM_GCNETWORKS=`cmk list networks listall=true | jq -r '.network[].id' | wc -l`
  if [[ $NUM_GCNETWORKS -gt $STUCKNETWORKS ]]; then
    echo "$(basename $file) left behind $(($NUM_GCNETWORKS-$STUCKNETWORKS)) Networks" >> $CLEAN_UP_LOG
    while [ $tries -gt 0 ]
    do
      for netid in $(cmk list networks listall=true | jq -r '.network[].id'); do
        cmk delete network id=$netid || true
      done
    echo "wait ${sleepduration}s to give Networks some time to destroy"
    sleep $sleepduration
    NUM_GCNETWORKS=`cmk networks listall=true | jq -r '.network[].id' | wc -l`
    if [[ $NUM_GCNETWORKS -gt $STUCKVMS ]]; then
      tries=$((retries)-1)
    else
      tries=0
    fi
    done
    STUCKNETWORKS=$NUM_GCNETWORKS
  fi

  tries=$retries
  echo "deleting VPCs"
  NUM_GCVPCS=`cmk list vpcs listall=true | jq -r '.vpc[].id' | wc -l`
  if [[ $NUM_GCVPC -gt $STUCKVPCS ]]; then
    echo "$(basename $file) left behind $(($NUM_GCVPCS-$STUCKVPCS)) VPCs" >> $CLEAN_UP_LOG
    while [ $tries -gt 0 ]; do
      for vid in $(cmk list vpcs listall=true | jq -r '.vpc[].id'); do
        cmk delete vpc id=$vid || true
      done
      sleep $sleepduration
      NUM_GCVPCS=`cmk list vpcs listall=true |jq -r '.vpc[].id' | wc -l`
      if [ $NUM_GCVPCS -gt $STUCKVPCS ]; then
        tries=$((retries)-1)
      else
        tries=0
      fi
    done
  STUCKVPCS=$NUM_GCVPCS
  fi

  # move to blocking async calls (just volume deletion, should be very fast), so later we can delete accounts and domains
  cmk set asyncblock true

  # Destroy data volumes when zero attached (all VMs deleted)
  NUM_GCVOLS=$(cmk list volumes type=data | jq -r '.volume[].id' | wc -l)
  if [[ $NUM_GCVOLS -gt $STUCKVOLS ]]; then
    echo "$(basename $file) left behind $(($NUM_GCVOLS-$STUCKVOLS)) volumes" >> $CLEAN_UP_LOG
    for volumeid in $(cmk list volumes listall=true type=data | jq -r '.volume[] .id'); do
      cmk delete volume id=$volumeid || true
    done
    sleep $sleepduration
  NUM_GCVOLS=`cmk list volumes listall=true type=data | jq -r '.volume[].id' | wc -l`
  STUCKVOLS=$NUM_GCVOLS
  fi

  # Destroy accounts (keep some, delete all others)
  cmk list accounts listall=true | jq -r '.account[] .id'  > .deleteaccounts
  NUM_LEFT=`cat .deleteaccounts | wc -l`
  if [[ $NUM_LEFT -gt 3 ]]; then
    echo "$(basename $file) left behind $(($NUM_LEFT-3)) accounts" >> $CLEAN_UP_LOG
    for accountid in $(comm -13 <(sort -u .skipdeletingaccounts) <(sort -u .deleteaccounts)); do
      cmk delete account id=$accountid || true
    done
  fi

  # Destroy domains (keep ROOT domain, delete all other)
  cmk list domains listall=true | jq -r '.domain[] .id' > .deletedomains
  NUM_LEFT=`cat .deletedomains | wc -l`
  if [[ $NUM_LEFT -gt 1 ]]; then
    echo "$(basename $file) left behind $(($NUM_LEFT-1)) domains" >> $CLEAN_UP_LOG
    for domainid in $(comm -13 <(sort -u .skipdeletingdomains) <(sort -u .deletedomains)); do
      cmk delete domain id=$domainid || true
    done
  fi

  cmk list serviceofferings listall=true issystem=false | jq -r '.serviceoffering[].id' > .deleteofferings
  NUM_LEFT=`cat .deleteofferings | wc -l`
  if [[ $NUM_LEFT -gt 2 ]]; then
    echo "$(basename $file) left behind $(($NUM_LEFT-2)) service offerings" >> $CLEAN_UP_LOG
    for offeringid in $(comm -13 <(sort -u .skipdeleteofferings) <(sort -u .deleteofferings)); do
      cmk delete serviceoffering id=$offeringid || true
    done
  fi

  cmk list diskofferings listall=true issystem=false | jq -r '.diskoffering[].id' > .deletediskofferings
  NUM_LEFT=`cat .deletediskofferings | wc -l `
  if [[ $NUM_LEFT -gt 4 ]]; then
    "$(basename $file) left behind $(($NUM_LEFT-3)) disk offerings" >> $CLEAN_UP_LOG
    for offeringid in $(comm -13 <(sort -u .skipdeletediskofferings) <(sort -u .deletediskofferings)); do
      cmk delete diskoffering id=$offeringid || true
    done
  fi

  rm -f .deleteaccounts
  rm -f .deletedomains
  rm -f .deleteofferings
  rm -f .deletediskofferings
}

slackmsg() {
   messagebody=$1
   messagecolor=$2
   slack chat send \
  --channel "#testing" \
  --color $messagecolor \
  --text "$messagebody" \
  --title "$TESTTYPE update for {{ env_name_clean }}" \
  --title-link "$jenkinslink"
}

runtest() {
  file=$1
  rm -fr $LOGDIR/$(basename $file).xml
  TRIMFILE=$(echo $(basename $file) | sed 's/.py$//g')
  OLDRESULT=$(ls $LOGDIR | grep -E $TRIMFILE'_[a-zA-Z0-9]{6}$' | head -1)
  if [ ! -z "${OLDRESULT// }" ]; then
    echo "Found old test results, removing:" $LOGDIR/$OLDRESULT
    rm -fr $LOGDIR/$OLDRESULT
  fi
  ${NOSETESTS} --with-xunit --xunit-file=$LOGDIR/$(basename $file).xml --with-marvin --marvin-config=/marvin/{{ env_name_clean }}-advanced-cfg --hypervisor={{ env_hv }} -s -a tags={{ env_zonetype | lower }}{% if marvin_test_categories is defined %}{% for category in marvin_test_categories %},{{ category }}{% endfor %}{% endif %} $file
  cleanup || true
}

launchtest() {
  file=$1
  runtest $file
  # Run tests once again on error or failure
  ${PYTHON} /marvin/tools/xunit-reader.py $LOGDIR/$(basename $file).xml | grep -e Failure -e Error && cleanup && runtest $file && echo "Intermittent failure detected: $file" >> $SUMMARY_FILE
}
