#!/bin/bash

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

rm -f /tmp/combined_results.txt
now=$(date +"%T")
echo "Starting tests at $now

" > /tmp/combined_results.txt
{% if marvin_tests_source == "github" %}
for file in /tmp/marvin/test/integration/smoke/test_*; do
nosetests --with-marvin --marvin-config=/tmp/{{ env_name_clean }}-advanced-cfg --hypervisor={{ env_hv }} -a tags=advanced $file
done


for dir in /tmp/MarvinLogs/; do
  echo "$dir" >> /tmp/combined_results.txt
  cat results.txt >> /tmp/combined_results.txt
  echo ""
  echo ""
done

{% endif %}

