{
	"dbSvr": {
		"dbSvr": "marvin.testlab.com",
		"passwd": "cloud",
		"db": "cloud",
		"port": 3306,
		"user": "cloud"
	},
	"logger": {
		"LogFolderPath": "/tmp/"
	},
	"mgtSvr": [{
		"mgtSvrIp": "marvin.testlab.com",
		"port": 8096,
		"user": "root",
		"passwd": "password",
		"hypervisor": "XenServer"
	}]
}