
#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet manual

auto eth1
iface eth1 inet manual

auto {{ kvm_mgmt_network_label }}
allow-ovs {{ kvm_mgmt_network_label }}
iface {{ kvm_mgmt_network_label }} inet static
  address {{ ansible_eth0.ipv4.address }}
  netmask {{ ansible_eth0.ipv4.netmask }}
  gateway {{ ansible_default_ipv4.gateway }}
  ovs_type OVSBridge
  ovs_ports eth0

allow-{{ kvm_mgmt_network_label }} eth0
iface eth0 inet manual
  ovs_bridge {{ kvm_mgmt_network_label }}
  ovs_type OVSport

auto {{ kvm_guest_network_label }}
allow-ovs {{ kvm_guest_network_label }}
iface {{ kvm_guest_network_label }} inet manual
  ovs_type OVSBridge
  ovs_ports eth1

allow-{{ kvm_guest_network_label }} eth1
iface eth1 inet manual
  ovs_bridge {{ kvm_guest_network_label }}
  ovs_type OVSport
