---


- name: remove old link
  file: path=/etc/localtime state=absent

- name: set new timezone
  file: src="/usr/share/zoneinfo/{{ env_timezone }}" dest=/etc/localtime state=link

- name: Install chrony
  apt:
    pkg: chrony
    state: latest
    update_cache: yes
  retries: 3

- name: Start chrony
  systemd:
    name: chrony
    state: started
    enabled: yes
