---

- name: remove compiled code/tests
  command: rm -f "{{ item }}"/*.pyc
  with_items:
    - "/marvin/tests/smoke"
    - "/marvin/tests/component"
    - "/usr/local/lib/python3.6/site-packages/marvin/lib"
  tags:
    - marvin
    - marvin_cfg
    - marvin_fix_tests

- name: copy locally fixed tests
  copy: 
    src: "{{ item }}"
    dest: /usr/local/lib/python3.6/site-packages/marvin/lib/
    mode: 0755
  with_fileglob:
    - ../files/marvin_lib/*
  tags:
    - marvin
    - marvin_cfg
    - marvin_fix_tests

- name: Copy files to /marvin/tests/smoke/
  copy:
    src: "{{ item }}"
    dest: /marvin/tests/smoke/
    mode: 0755
  with_fileglob:
    - ../files/smoke/*
  tags:
    - marvin
    - marvin_cfg
    - marvin_fix_tests



