---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.


- debug: msg="Connecting to Marvin host {{ ansible_ssh_host }}"
  tags:
    - marvin
    - marvin_cfg
    - marvin_install

- name: wait for ssh
  local_action: wait_for port=22 host="{{ ansible_ssh_host }}" timeout={{ ssh_retries }} connect_timeout=5
  tags:
    - marvin
    - marvin_cfg
    - marvin_install

- name: Install Dev Tools Group
  yum: name="@Development tools" state=installed update_cache=yes
  tags:
    - marvin
    - marvin_cfg
    - marvin_install

- name: set yum repo to local
  template: src="{{ inventory_dir }}/templates/{{ item }}.j2" dest="/etc/yum.repos.d/{{item}}"
  with_items:
    - "epel.repo"
    - "CentOS-Base.repo"
  tags:
    - marvin
    - marvin_install

- name: Install other dependancies
  yum: name={{ item }} state=installed update_cache=yes
  with_items:
  - 'http://dev.mysql.com/get/mysql57-community-release-el7-7.noarch.rpm'
  - zlib-devel
  - bzip2-devel
  - openssl-devel
  - xz-libs
  - wget
  - sqlite
  - sqlite-devel
  - python-paramiko
  - python-devel
  - mysql-devel
  - zlib-devel
  - bzip2-devel
  - openssl-devel
  - ncurses-devel
  - libxslt-devel
  - libffi-devel
  - openssh-askpass
  - jq
  - mariadb
  - git
  - screen
  - sshpass
  - at
  - vim
  - tmux
  - python-pip
  tags:
    - marvin
    - marvin_install

- name: Install mysql-connector-python
  yum: name=mysql-connector-python state=latest
  tags:
    - marvin
    - marvin_install

- name: remove yum openSSL package
  yum:
    name: pyOpenSSL
    state: absent

- name: Update pip and components
  pip:
    name: "{{ item }}"
    extra_args: '--upgrade'
  with_items:
  - pip==20.2.1
  - six
  - pyOpenSSL
  - wheel==0.34.2
  - kubernetes
  tags:
    - marvin
    - marvin_install

- name: Ensure CA-Certificates are up to date
  yum:
    name: ca-certificates
    state: latest
  tags:
    - marvin
    - marvin_install

- name: install pip security components and extras
  pip: name={{ item }} extra_args='--upgrade'
  with_items:
  - '"requests[security]"'
  - pyasn1
  - wget
  - texttable
  - lxml
  tags:
    - marvin
    - marvin_install

- name: WORKAROUND **Install pycparser v2.13**
  pip: name=pycparser version=2.13

- name: ensure atd is running to schedule jobs
  service: name=atd state=started enabled=yes
