---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.


- debug: msg="Connecting to Marvin host {{ ansible_ssh_host }}"
  tags:
    - marvin
    - marvin_cfg
    - marvin_install

- name: wait for ssh
  local_action: wait_for port=22 host="{{ ansible_ssh_host }}" timeout={{ ssh_retries }} connect_timeout=5
  tags:
    - marvin
    - marvin_cfg
    - marvin_install


- name: Install Dev Tools Group
  dnf: name="@Development tools" state=installed
  tags:
    - marvin
    - marvin_cfg
    - marvin_install

- name: Install other dependancies
  dnf: name={{ item }} state=installed
  with_items:
  - at
  - bzip2-devel
  - git
  - jq
  - libffi-devel
  - libxslt-devel
  - mariadb
  - ncurses-devel
  - openssh
  - openssh-askpass
  - openssh-server
  - openssh-clients
  - openssl-devel
  - python3-devel
  - python3-pip
  - screen
  - sqlite
  - sqlite-devel
  - sshpass
  - tmux
  - vim
  - wget
  - xz-libs
  - zlib-devel
  tags:
    - marvin
    - marvin_install

- name: remove yum openSSL package
  dnf:
    name: "{{ item }}"
    state: absent
  with_items:
  - python3-pyOpenSSL
  - python3-six
  - python3-urllib3
  - python3-requests

- name: Update pip3 and components
  pip:
    name: "{{ item }}"
    executable: pip3
    extra_args: '--upgrade'
  with_items:
  - pip
  - six
  - pyOpenSSL
  - paramiko
  - wheel
  - kubernetes
  - pyasn1
  - wget
  - texttable
  - lxml
  - pycparser
  - mysql-connector-python==8.0.30
  - netaddr
  - pyvmomi
  tags:
    - marvin
    - marvin_install

- name: Clear all yum cache
  command: dnf clean all

- name: Ensure CA-Certificates are up to date
  dnf:
    name: ca-certificates
    state: latest
  tags:
    - marvin
    - marvin_install

- name: ensure atd is running to schedule jobs
  systemd:
    name: atd
    state: started
    enabled: true
