---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.
################################################################################
# Sensitive / Vault vars - move to vault in secure environments

# SSH credentials of the Trillan master host
def_env_db_user: "root"
def_env_db_password: "password"

# SSH credentials of the nested management host. For centos images, the user is usually centos
def_mgmtsrv_username: "root"
def_mgmtsrv_password: "password"

# SSH credentials of the primary NFS host
def_pri_username: "root"
def_pri_password: "password"

# SSH credentials of the secondary NFS host
def_sec_username: "root"
def_sec_password: "password"

# SSH credentials of the nested Cloudstack Database host
def_dbsrv_username: "root"
def_dbsrv_password: "password"

# Mysql credentials of the nested Cloudstack
def_mysql_root_password: "password"
def_mysql_cloud_password: "password"
def_mysql_replication_password: "password"
def_old_mysql_root_password: "" # The default password when you install mysql (by default it is not set)

# SSH credentials of the marvin host
def_marvin_username: "root"
def_marvin_password: "password"

# SSH credentials for nested KVM
def_kvm_username: "root"
def_kvm_password: "password"

# SSH credentials for nested XenServer
def_xs_username: "root"
def_xs_password: "password"

# Credentials for the nested VMWare
def_vmware_vcsa_user: "admin"
def_vmware_vcsa_50_51_user: "admin"
def_vmware_vcsa_pass: "password"
def_vmware_esxi_username: "root"
def_vmware_esxi_password: "password"

# Credentials for the parent VCenter
parent_vcenter_hostname: "172.31.0.100"
parent_vcenter_password: "root"
parent_vcenter_username: "password"

################################################################################
# version of this file is checked when running generate or deploy
# if the vars in this file are updated/added then version will be increased.

all-file_version: 5

# Environment vars
# Name of the network where marvin tests will be run
def_marvin_network: "shared-mgt-nw"
def_management_network: "shared-mgt-nw"
def_guest_public_network: "shared-guest-nw"
def_management_vm_hypervisor: "VMware"
def_build_zone: "trillian-zone1"
def_build_keyboard: "uk"
parent_vcenter_dc: "datacenter1"

# For ubuntu this would be http://archive.ubuntu.com
repohost: "http://mirrorlist.centos.org"
def_env_timezone: "UTC"

# Use external hypervisor hosts (physical hosts)
def_use_external_hv_hosts: no

# Global URLs - not copied to granular group_vars
current_epel: http://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm
epel7: http://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
epel6: http://www.mirrorservice.org/sites/dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm
vhdutil_url: http://download.cloud.com.s3.amazonaws.com/tools/vhd-util

# Defaults for generate-config:
mgmt: 1
db: 0
sec: 1
def_build_marvin: no

# Wait till default templates are downloaded in the nested Cloudstack
wait_till_setup: no

def_api_retries: 25
def_sysvms_running_retries: 250
def_sysvms_up_retries: 100
def_builin_template_retries: 400
def_ui_up_retries: 75
def_ssh_retries: 400
def_ssh_timeout: 10
destroy_forced: no
def_env_uuid: "unknown"

# Environment database settings
def_env_db_name: "trillian_envs"
def_env_db_ip: "172.31.0.99"


# Environment summary
def_env_zonetype: "Advanced"
def_env_use_sec_groups: yes # BEING DEPRECATED:

# IP of the primary storage pool
def_env_prihost: "172.31.0.101"

# IP of the primary storage pool
def_env_sechost: "172.31.0.101"
def_env_pripath: "/acs/primary/"
def_env_priprot: "NFS"
def_env_secpath: "/acs/secondary/"

def_env_zone_secgroups: "false" # BEING DEPRECATED:
def_env_zone_secgroups_advanced: "false"
def_env_zone_secgroups_basic: "true"
def_env_zone_guestcidr: "10.10.10.0/24"
def_env_zone_dns1: "8.8.8.8"
def_env_zone_dns2: "8.8.4.4"
def_env_zone_intdns1: "8.8.8.8"
def_env_zone_intdns2: "8.8.4.4"
def_env_zone_localstorage: "false"
def_env_zone_podname: "Pod1"
def_env_zone_clustername: "p1-c1"
def_env_zone_addhosts: "true"
def_env_iscsi_test_target: "iqn.2016-10.local.marvin:tgt1/0"
def_env_iscsi_test_host: "marvin"
def_use_dvfilter: yes
def_use_local_storage: no
def_use_shared_storage: yes
def_use_local_storage_systemvms: no
def_local_storage_disk_offering: "Custom"
def_local_storage_disk_size: "80"

java_vers:
  ccp306: java-1.6.0-openjdk
  ccp307: java-1.6.0-openjdk
  ccp43: java-1.6.0-openjdk
  cs43: java-1.6.0-openjdk
  cs45: java-1.7.0-openjdk
  cs46: java-1.7.0-openjdk
  cs47: java-1.7.0-openjdk
  cs48: java-1.7.0-openjdk
  cs49: java-1.7.0-openjdk
  cs410: java-1.7.0-openjdk
  custom: custom
  na: na

java_paths:
  centos:
    java-1.6.0-openjdk: "jre_1.6.0_openjdk"
    java-1.7.0-openjdk: "jre_1.7.0_openjdk"
    java-1.8.0-openjdk: "jre_1.8.0_openjdk"
    na: na
  centos7:
    java-1.6.0-openjdk: "jre_1.6.0_openjdk"
    java-1.7.0-openjdk: "jre_1.7.0_openjdk"
    java-1.8.0-openjdk: "jre_1.8.0_openjdk"
    na: na
  debian:
    java-1.6.0-openjdk: "tbc"
    java-1.7.0-openjdk: "tbc"
    java-1.8.0-openjdk: "tbc"
    na: na
  na:
    java-1.6.0-openjdk: "na"
    java-1.7.0-openjdk: "na"
    java-1.8.0-openjdk: "na"

# Management server
def_mgmtsrv_service_offering: "Mgmt Server"
def_mgmtsrv_template: "CentOS 6.8"
def_rooturl_cloudstack: "http://<IP_ADDRESS_HERE>/shapeblue/cloudstack/upstream/"

# System templates
def_system_templates:
  ccp306:
    kvm_url: "http://download.cloud.com/templates/acton/acton-systemvm-02062012.qcow2.bz2"
    xs_url: "http://download.cloud.com/templates/acton/acton-systemvm-02062012.vhd.bz2"
    vmware_url: "http://download.cloud.com/templates/burbank/burbank-systemvm-08012012.ova"
  ccp307:
    kvm_url: "http://download.cloud.com/templates/acton/acton-systemvm-02062012.qcow2.bz2"
    xs_url: "http://download.cloud.com/templates/acton/acton-systemvm-02062012.vhd.bz2"
    vmware_url: "http://download.cloud.com/templates/burbank/burbank-systemvm-08012012.ova"
  ccp43:
    kvm_url: "http://download.cloud.com/templates/4.3/systemvm64template-2014-01-14-master-kvm.qcow2.bz2"
    xs_url: "http://download.cloud.com/templates/4.3/systemvm64template-2014-01-14-master-xen.vhd.bz2"
    vmware_url: "http://download.cloud.com/templates/4.3/systemvm64template-2014-02-13-master-vmware.ova"
  cs43:
    kvm_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.3/systemvm64template-4.3-kvm.qcow2.bz2"
    xs_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.3/systemvm64template-4.3-xen.vhd.bz2"
    vmware_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.3/systemvm64template-4.3-vmware.ova"
  cs45:
    kvm_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.5/systemvm64template-4.5-kvm.qcow2.bz2"
    xs_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.5/systemvm64template-4.5-xen.vhd.bz2"
    vmware_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.5/systemvm64template-4.5-vmware.ova"
  cs46:
    kvm_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-kvm.qcow2.bz2"
    xs_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-xen.vhd.bz2"
    vmware_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-vmware.ova"
  cs47:
    kvm_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-kvm.qcow2.bz2"
    xs_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-xen.vhd.bz2"
    vmware_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-vmware.ova"
  cs48:
    kvm_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-kvm.qcow2.bz2"
    xs_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-xen.vhd.bz2"
    vmware_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-vmware.ova"
  cs49:
    kvm_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-kvm.qcow2.bz2"
    xs_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-xen.vhd.bz2"
    vmware_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-vmware.ova"
  cs410:
    kvm_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-kvm.qcow2.bz2"
    xs_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-xen.vhd.bz2"
    vmware_url: "http://<IP_ADDRESS_HERE>/shapeblue/systemvmtemplate/4.6/systemvm64template-master-4.6.0-vmware.ova"
  custom:
    kvm_url: "KVMCustomURL"
    xs_url: "XSCustomURL"
    vmware_url: "VMwareCustomURL"
  na:
    kvm_url: "na"
    xs_url: "na"
    vmware_url: "na"

# Default management VM templates based on management server OS choice
def_mgmt_templates:
  centos:
    mgmtsrv_template: "CentOS 6.8"
  centos62:
    mgmtsrv_template: "CentOS 6.2"
  centos63:
    mgmtsrv_template: "CentOS 6.3"
  centos64:
    mgmtsrv_template: "CentOS 6.4"
  centos7:
    mgmtsrv_template: "CentOS7 KVM"
  debian:
    mgmtsrv_template: "Ubuntu Server 14.04"
  custom:
    mgmtsrv_template: "CustomTemplateName"
# DB servers
def_dbsrv_service_offering: "Mgmt Server"
def_dbsrv_template: "CentOS 6.8"
def_envs_dbhost: "<IP_ADDRESS_HERE>"
def_db_type: "mysql"
def_mysql_max_connections: 700
def_mysql_innodb_buffer_pool_size: 256M

# KVM
def_kvm_service_offering: "Nested Hypervisor"
def_kvm_templates:
  centos:
    kvm_template: "CentOS 6.8"
  centos62:
    kvm_template: "CentOS 6.2 - Locked"
  centos64:
    kvm_template: "CentOS 6.4 - Locked"
  centos7:
    kvm_template: "CentOS7 KVM"
  debian:
    kvm_template: "Ubuntu Server 14.04"
  custom:
    kvm_template: "CustomTemplateName"
  na:
    kvm_template: "na"
def_kvm_mgmt_network_label: "cloudbr0"
def_kvm_guest_network_label: "cloudbr1"
def_kvm_public_network_label: "cloudbr1"
def_kvm_localstorage_mount: "/localstorage"

# XS
def_xs_service_offering: "Nested Hypervisor - MK1 hosts"
def_xenserver_templates:
  xs62sp1:
    xs_template: "XenServer 6.2 SP1"
  xs65sp1:
    xs_template: "XenServer 6.5 SP1"
  xs70:
    xs_template: "XenServer 6.2 SP1" ## need XS 7 template
  custom:
    xs_template: "CustomTemplateName"
  na:
    xs_template: "na"
def_xs_mgmt_network_nic: "eth0"
def_xs_mgmt_network_label: "Network0"
def_xs_guest_network_nic: "eth1"
def_xs_guest_network_label: "Network1"
def_xs_public_network_nic: "eth1"
def_xs_public_network_label: "Network1"

# VMware
def_vmware_templates:
  50u1:
    esxi_template: "ESXi 5.0u1"
    vc_template: "vCenter 50u1"
  51u1:
    esxi_template: "ESXi 5.1u1"
    vc_template: "vCenter 5.1u1"
  51u2:
    esxi_template: "ESXi 5.1u2"
    vc_template: "vCenter 5.1u2"
  55u3:
    esxi_template: "ESXi 5.5u3"
    vc_template: "vCenter 55u3"
  60u2:
    esxi_template: "ESXi 6.0u2"
    vc_template: "vCenter 60u2"
  "65":
    esxi_template: "ESXi 6.5"
    vc_template: "vCenter 65"
  kddi:
    esxi_template: "ESXi 5.0u1"
    vc_template: "vCenter 55u3"
  custom:
    esxi_template: "CustomTemplateName"
    vc_template: "CustomTemplateName"
  na:
    esxi_template: "na"
    vc_template: "na"
def_vc_service_offering: "VC server"
def_esxi_service_offering: "Nested Hypervisor"
def_esxi_use_dvswitch: no
def_esxi_mgmt_network_label: "vSwitch0"
def_esxi_guest_network_label: "vSwitch1"
def_esxi_public_network_label: "vSwitch1"

# VMware datacentre configuration
def_vmware_datacenter_name: "Trillian"

# Marvin server
def_marvin_service_offering: "Marvin"
def_marvin_server_template: "Marvin iSCSI"
def_marvin_tests_source: "github"
def_marvin_tests_github_source: "https://github.com/apache/cloudstack"
def_marvin_images_location: "http://<IP_ADDRESS_HERE>/marvin"
def_fallback_marvin_test_repo: "http://<IP_ADDRESS_HERE>/shapeblue/cloudstack/testing/centos7/4.10.0/"

# hipchat integration:

def_use_hipchat: yes
def_hipchat_server: "<HIPCHAT_SERVER_URL>"
def_hipchat_token: "<TOKEN_HERE>"
def_hipchat_cli_client_location: "https://bobswift.atlassian.net/wiki/download/attachments/16285777/atlassian-cli-5.4.0-distribution.zip?version=1&modificationDate=1464662416465&api=v2"
def_hipchat_cli_client_version: "atlassian-cli-5.4.0"

# cloudmonkey keys:

cm_apikey: "<KEY_HERE>"
cm_secretkey_enc: "<ENCKEY_HERE>"
cm_secretkey: "<KEY_HERE>"

# global variables
global_settings:
  all:
    - {name: "vmware.create.full.clone", value: "FALSE", condition: "all"}
    - {name: "secstorage.allowed.internal.sites", value: "<IP_ADDRESS_HERE>/24", condition: "all"}
    - {name: "cpu.overprovisioning.factor", value: "2", condition: "all"}
    - {name: "cluster.cpu.allocated.capacity.disablethreshold", value: "0.95", condition: "all"}
    - {name: "cluster.memory.allocated.capacity.disablethreshold", value: "0.95", condition: "all"}
    - {name: "dynamic.apichecker.enabled", value: "true", condition: "all"}
    - {name: "workers", value: "10", condition: "all"}
  marvin:
    - {name: "ping.interval", value: "10", condition: "marvin"}
    - {name: "ping.timeout", value: "1.5", condition: "marvin"}
    - {name: "integration.api.port", value: "8096", condition: "marvin"}
    - {name: "account.cleanup.interval", value: "60", condition: "marvin"}
    - {name: "extract.url.cleanup.interval", value: "300", condition: "marvin"}
    - {name: "network.securitygroups.work.cleanup.interval", value: "120", condition: "marvin"}
    - {name: "storage.cleanup.enabled", value: "TRUE", condition: "marvin"}
    - {name: "storage.cleanup.interval", value: "150", condition: "marvin"}
    - {name: "storage.template.cleanup.enabled", value: "TRUE", condition: "marvin"}
    - {name: "task.cleanup.retry.interval", value: "600", condition: "marvin"}
    - {name: "vm.op.cleanup.interval", value: "600", condition: "marvin"}
    - {name: "vm.op.cleanup.wait", value: "60", condition: "marvin"}
    - {name: "vpc.cleanup.interval", value: "600", condition: "marvin"}
    - {name: "expunge.delay", value: "60", condition: "marvin"}
    - {name: "expunge.interval", value: "60", condition: "marvin"}
    - {name: "expunge.workers", value: "3", condition: "marvin"}
    - {name: "alert.wait", value: "300", condition: "marvin"}
    - {name: "backup.snapshot.wait", value: "3600", condition: "marvin"}
    - {name: "kvm.snapshot.enabled", value: "true", condition: "marvin"}
    - {name: "copy.volume.wait", value: "1200", condition: "marvin"}
    - {name: "create.private.template.from.snapshot.wait", value: "1200", condition: "marvin"}
    - {name: "create.private.template.from.volume.wait", value: "1200", condition: "marvin"}
    - {name: "create.volume.from.snapshot.wait", value: "1200", condition: "marvin"}
    - {name: "migratewait", value: "1200", condition: "marvin"}
    - {name: "network.gc.wait", value: "300", condition: "marvin"}
    - {name: "network.gc.interval", value: "60", condition: "marvin"}
    - {name: "primary.storage.download.wait", value: "900", condition: "marvin"}
    - {name: "storage.pool.max.waitseconds", value: "900", condition: "marvin"}
    - {name: "update.wait", value: "300", condition: "marvin"}
    - {name: "vm.op.cleanup.wait", value: "600", condition: "marvin"}
    - {name: "vm.op.wait.interval", value: "60", condition: "marvin"}
    - {name: "vm.tranisition.wait.interval", value: "300", condition: "marvin"}
    - {name: "vmsnapshot.create.wait", value: "900", condition: "marvin"}
    - {name: "wait", value: "3600", condition: "marvin"}
    - {name: "xapiwait", value: "300", condition: "marvin"}
    - {name: "router.alerts.check.interval", value: "300", condition: "marvin"}
    - {name: "storage.cleanup.delay", value: "150", condition: "marvin"}
    - {name: "enable.dynamic.scale.vm", value: "true", condition: "marvin"}
    - {name: "outofbandmanagement.sync.interval", value: "5000", condition: "marvin"}
  dvswitch:
    - {name: "vmware.use.dvswitch", value: "true", condition: "dvswitch"}
  systemvmlocalstorage:
    - {name: "system.vm.use.local.storage", value: "true", condition: "systemvmlocalstorage"}

# local_templates
def_use_local_templates: true

local_builtin_templates:
  - {id: "2", url: "http://dl.openvm.eu/cloudstack/macchinina/x86_64/macchinina-xen.vhd.bz2"} #CentOS 5.3(64-bit) no GUI (XenServer)
  - {id: "4", url: "http://dl.openvm.eu/cloudstack/macchinina/x86_64/macchinina-kvm.qcow2.bz2"} #CentOS 5.5(64-bit) no GUI (KVM)
  - {id: "5", url: "http://dl.openvm.eu/cloudstack/macchinina/x86_64/macchinina-xen.vhd.bz2"} #CentOS 5.6(64-bit) no GUI (XenServer)
  - {id: "6", url: "http://dl.openvm.eu/cloudstack/macchinina/x86_64/macchinina-hyperv.vhd.zip"} #CentOS 6.4(64-bit) GUI (Hyperv)
  - {id: "7", url: "http://dl.openvm.eu/cloudstack/macchinina/x86_64/macchinina-vmware.ova"} #CentOS 5.3(64-bit) no GUI (vSphere)
