---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

- name: determine number of db hosts
  set_fact: num_db_hosts="{{ groups['mysql_hosts'] | length }}"
  tags:
    - mysql
    - mysqlconf

- name: wait for VM to be alive
  shell: "ping {{ ansible_ssh_host }} -c 1"
  register: pong
  until: pong.rc == 0
  retries: "{{ ssh_retries }}"
  delegate_to: localhost
  tags:
    - mysql
    - mysqlconf

- name: wait for ssh
  local_action: wait_for port=22 host="{{ ansible_ssh_host }}" timeout={{ ssh_retries }} connect_timeout=5
  tags:
    - mysql
    - mysqlconf

- name: symlink /usr/bin/python -> /usr/bin/python3
  raw: |
    if [ -f /usr/bin/python3 ] && [ ! -f /usr/bin/python ]; then
      ln --symbolic /usr/bin/python3 /usr/bin/python;
    fi
  become: true
  tags:
    - mysql
    - mysqlconf

- name: now i'm connected, get facts
  os_facts:
  tags:
    - mysql
    - mysqlconf

# For some weird reason, it thinks SUSE is Ubuntu
- name: Check if SUSE
  shell: cat /etc/os-release | grep -i suse
  register: result
  when: ansible_distribution == 'Ubuntu'
  ignore_errors: yes

- name: Set distro as SUSE
  set_fact:
      ansible_distribution: "SUSE"
  when: ansible_distribution == 'Ubuntu' and result is succeeded

- include: ./centos.yml
  when: ( ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' ) and ( ansible_distribution_major_version|int < 8 )
  tags:
    - mysql
    - mysqlconf

- include: ./centos8.yml
  when: ( ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' ) and ( ansible_distribution_major_version|int >= 8 )
  tags:
    - mysql
    - mysqlconf

- include: ./suse.yml
  when: ansible_distribution == 'SUSE'
  tags:
    - mysql
    - mysqlconf

- include: ./ubuntu.yml
  when: ansible_distribution == 'Ubuntu'
  tags:
    - mysql
    - mysqlconf

- include: ./mysql_replication.yml
  when: num_db_hosts | int > 1
  tags:
    - mysql_replication
    - mysql
    - mysqlconf
