---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

- name: set apt repo
  template:
    src: "{{ inventory_dir }}/templates/{{ item }}-u18.j2"
    dest: "/etc/apt/{{item}}"
  with_items:
    - "sources.list"
  when: ansible_distribution_version == "18.04"

- name: Run the equivalent of "apt-get update" as a separate step
  apt:
    update_cache: yes

- name: install setup tools and jq
  apt:
    pkg: "{{ item }}"
    state: present
  with_items:
    - python-setuptools


- name: Ensure mysql python are installed (Ansible requirement)
  apt:
    pkg: python-mysqldb
    state: present
  tags: services
  when: ansible_distribution_major_version|int < 18

- name: Ensure mysql python are installed (Ansible requirement)
  apt:
    pkg: python3-mysqldb
    state: present
  tags: services
  when: ansible_distribution_major_version|int >= 18

- name: Ensure mysql server is installed (Ubuntu)
  apt: pkg=mysql-server state=present
  tags: services


#- name: Ridiculous fix for mysql permissions
#  file: path=/var/lib/mysql state=directory mode=0666

- name: replace MySQL my.cnf using Template (Ubuntu)
  template: src=my.ubuntu.cnf.j2 dest=/etc/mysql/my.cnf

- name: Ensure MySQL service is started and set to start on boot (Ubuntu)
  service: name=mysql state=restarted enabled=yes
  tags: services
  when: ansible_distribution_major_version|int <= 18

- name: Ensure MySQL service is started and set to start on boot (Ubuntu)
  systemd:
   name: mysql
   state: restarted
   enabled: yes
  tags: services
  when: ansible_distribution_major_version|int > 18

- include: ./secure_mysql.yml
  when: ansible_distribution_major_version|int <= 18

# bypass ansible mysql8 connection/library issues.

- name: set root password
  shell: mysql -h localhost -u root -e "ALTER USER 'root'@'localhost' IDENTIFIED BY 'P@ssword123';FLUSH PRIVILEGES;"
  when: ansible_distribution_major_version|int > 18
  tags:
    - mysql
    - mysqlconf

- name: grant permissions
  shell: mysql -h localhost -u root -pP@ssword123 -e "CREATE USER 'root'@'%' IDENTIFIED BY 'P@ssword123';GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' WITH GRANT OPTION;FLUSH PRIVILEGES"
  ignore_errors: yes
  when: ansible_distribution_major_version|int > 18
  tags:
    - mysql
    - mysqlconf

- name: Ensure Firewall Rules are in place for MySQL
  shell: ufw allow mysql

- name: restart iptables
  service: name=ufw state=restarted
