---

# Sleep has been added to stagger management server startups.

- name: test for cloud or cloudstack usage
  stat: path=/usr/bin/cloudstack-setup-databases
  register: path_is_cloudstack
  tags:
    - setup_mgmt

- debug:
    msg: "cloudstack not cloud is {{ path_is_cloudstack.stat.exists }}"

- name: Setup CloudStack Manager (centos/rhel6)
  shell: sleep {{ play_hosts.index(inventory_hostname) | int * 15 }} && /usr/bin/cloudstack-setup-management
  when: (ansible_distribution_major_version == "6") and (path_is_cloudstack.stat.exists|bool == True)
  tags:
    - setup_mgmt

- name: Setup CloudStack Manager (centos/rhel6)
  shell: sleep {{ play_hosts.index(inventory_hostname) | int * 15 }} && /usr/bin/cloud-setup-management
  when: (ansible_distribution_major_version == "6") and (path_is_cloudstack.stat.exists|bool == False)
  tags:
    - setup_mgmt

- name: Setup CloudStack Manager (centos/rhel7 ACS >= 4.11)
  shell: sleep {{ play_hosts.index(inventory_hostname) | int * 15 }} && /usr/bin/cloudstack-setup-management --tomcat7
  when: (ansible_distribution_major_version == "7") and (env_numversion | version_compare('4.11','>='))
  tags:
    - setup_mgmt

- name: Setup CloudStack Manager (centos/rhel7 ACS 4.6-4.10)
  shell: sleep {{ play_hosts.index(inventory_hostname) | int * 15 }} && /usr/bin/cloudstack-setup-management --tomcat7
  when: (ansible_distribution_major_version == "7") and (env_numversion | version_compare('4.6','>=')) and (env_numversion | version_compare('4.11','<'))
  tags:
    - setup_mgmt

- name: Setup CloudStack Manager (centos/rhel7) ACS < 4.6
  shell: sleep {{ play_hosts.index(inventory_hostname) | int * 15 }} && /usr/bin/cloudstack-setup-management
  when: (ansible_distribution_major_version == "7") and (env_numversion | version_compare('4.6','<'))
  tags:
    - setup_mgmt

- name: Setup CloudStack Manager (centos/rhel8)
  shell: sleep {{ play_hosts.index(inventory_hostname) | int * 15 }} && /usr/bin/cloudstack-setup-management
  when: ansible_distribution_major_version|int == 8
  tags:
    - setup_mgmt



- name: Setup CloudStack Manager (Ubuntu)
  shell: sleep {{ play_hosts.index(inventory_hostname) | int * 15 }} && /usr/bin/cloudstack-setup-management
  when: ansible_distribution == "Ubuntu"
  tags:
    - setup_mgmt
