---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

- name: determine number of db hosts
  set_fact: num_db_hosts="{{ groups['mysql_hosts'] | length }}"

- name: set mysql_master_ip
  set_fact: mysql_master_ip="{{ (num_db_hosts == 0) | ternary("hostvars[groups['primary_cs_manager'][0]]['ansible_ssh_host']","hostvars[groups['mysql_master_host'][0]]['ansible_ssh_host']") }}"

- debug: msg="MySQL Master IP is {{ mysql_master_ip }}"

- name: Get MySQL status
  get_db_facts: DBHOST="{{ mysql_master_ip }}" DBUSER="root" DBPASSWORD="{{ mysql_root_password }}"
  tags:
    - setup_db

- debug: msg="{{ env_numversion }}"
  tags:
    - setup_db

- name: cloudstack-setup-databases
  shell: "/usr/bin/cloudstack-setup-databases 'cloud':'{{ mysql_cloud_password }}'@'{{ mysql_master_ip }}' --deploy-as=root:'{{ mysql_root_password }}' -i {{ ansible_ssh_host }}"
  when: ("primary_cs_manager" in group_names) and ("{{ cloudbd_exists }}" == "no")
  tags:
    - setup_db

- name: Refresh Mysql status
  get_db_facts: DBHOST="{{ mysql_master_ip }}" DBUSER="root" DBPASSWORD="{{ mysql_root_password }}"
  tags:
    - setup_db
  
#- name: Setup Secondary CloudStack Databases
#  command: "/usr/bin/cloudstack-setup-databases 'cloud':'{{ mysql_cloud_password }}'@'{{ mysql_master_vip }}'"
#  when: ("secondary_cs_manager" in group_names) and ("{{ mgmt_ip }}" not in "{{ [registered_mgmt_ips].[mgmt_ip] }}")

- name: Setup CloudStack Manager (centos/rhel6)
  command: /usr/bin/cloudstack-setup-management
  when: ansible_distribution_major_version == "6"
  tags:
    - setup_mgmt

- name: Setup CloudStack Manager (centos/rhel7 ACS >= 4.6)
  command: /usr/bin/cloudstack-setup-management --tomcat7
  when: (ansible_distribution_major_version == "7") and ( env_numversion|float >= 4.6) 
  tags:
    - setup_mgmt

- name: Setup CloudStack Manager (centos/rhel7) ACS < 4.6
  command: /usr/bin/cloudstack-setup-management
  when: (ansible_distribution_major_version == "7") and ( env_numversion|float  < 4.6)
  tags:
    - setup_mgmt

- name: Setup CloudStack Manager (Ubuntu)
  command: /usr/bin/cloudstack-setup-management
  when: ansible_distribution == "Ubuntu"
  tags:
    - setup_mgmt