---

#Copyright 2016-2021 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

- debug:
    msg: "SUSE Specific Management Server Build"

- name: Ensure selinux python bindings are installed (Ansible requirement)
  shell: "zypper install -y python3-selinux"
  ignore_errors: yes

- name: Set selinux to permissive
  command: setenforce permissive
  changed_when: false
  ignore_errors: yes

- name: Ensure selinux is set permanently
  selinux: policy=targeted state=permissive
  ignore_errors: yes

- name: Allow connections on management server required ports with firewall
  shell: "firewall-cmd --zone=public --add-port={{ item }}/tcp --permanent"
  with_items:
    - "3306"
    - "8080"
    - "8096"
    - "8250"
    - "8443"
    - "9090"
  ignore_errors: yes

- name: Stop firewalld SUSE
  service:
    name: firewalld
    state: stopped
    enabled: no
  when: use_firewalld|bool == False

- name: Ensure CA Certs are latest
  shell: "zypper install -y ca-certificates"

- name: install rng-tools to get entropy
  shell: "zypper install -y haveged"

- name: determine number of db hosts
  set_fact: num_xen_hosts="{{ groups['xenserver_hosts'] | length }}"

- name: update lvm2 as fix for bugzilla.redhat.com/show_bug.cgi?id=1294128
  shell: "zypper install -y lvm2"

- name: install qemu-tools
  shell: "zypper install -y qemu-tools"

- debug: msg="Set Java on VM"
- set_fact: java_ver="{{ mgmt_java_ver }}"
- set_fact: java_path="{{ mgmt_java_path }}"
- include: ../../../tasks/set_java.yml
  when: force_java

- debug:
    msg: "env_cs_distribution - {{ env_cs_distribution }}"
- include: ./suse-acs.yml
  when: env_cs_distribution == "cs"

# Don't really need suse support for ccp

- name: ensure rpcbind in installed
  shell: "zypper install -y rpcbind"

- name: ensure rpcbind in started
  service:
    name: rpcbind
    state: started
    enabled: yes

- debug: msg="Some Marvin Stuff"
  when: (num_marv_hosts > 0)

- name: Ensure sshpass is installed
  shell: "zypper install -y sshpass"
  when: (num_marv_hosts > 0)

- name: Open 8096 when Marvin is required
  shell: "iptables -I INPUT -p tcp -m tcp --dport 8096 -j ACCEPT && iptables-save > /etc/sysconfig/iptables"
  when: (num_marv_hosts > 0)
