---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

####################################################################
# Set delete / expunge for VMs. Can not be accomplished with
# the CloudStack Ansible modules hence using cs commands.
#

####################################################################
# Remove servers
#
- name: Set remove action
  set_fact: vm_state="expunged"
  when: (expunge is defined) and (not destroy_forced)

- name: Force Stop hosts in project {{ env_name_clean }}
  local_action:
    module: cs_instance
    name: "{{ item }}"
    project: "{{ build_project }}"
    state: "{{ vm_state | default( 'stopped' ) }}"
    force: true
    api_timeout: 120
  with_items:
    - "{{ groups['vc_hosts'] }}"
    - "{{ groups['hypervisor_hosts'] }}"
    - "{{ groups['mysql_hosts'] }}"
    - "{{ groups['cloudstack_manager_hosts'] }}"
    - "{{ groups['marvin_host'] }}"
  ignore_errors: yes
  when: not destroy_forced

- name: Destroy hosts in project {{ env_name_clean }}
  local_action:
    module: cs_instance
    name: "{{ item }}"
    project: "{{ build_project }}"
    state: "{{ vm_state | default( 'absent' ) }}"
    force: true
    api_timeout: 120
  with_items:
    - "{{ groups['vc_hosts'] }}"
    - "{{ groups['hypervisor_hosts'] }}"
    - "{{ groups['mysql_hosts'] }}"
    - "{{ groups['cloudstack_manager_hosts'] }}"
    - "{{ groups['marvin_host'] }}"
  register: remove_retval
  ignore_errors: yes
  when: not destroy_forced
#  async: 1000
#  poll: 0
#  Async removed due to results not parsing, host file not updating as result.

# - name: Delete SSH key
#   local_action:
#     module: cs_sshkeypair
#     name: "{{ env_name_clean }}"
#     project: "{{ build_project }}"
#     state: absent
#     api_timeout: 120
#   when: (removeproject is defined) or destroy_forced
#   ignore_errors: yes


#####################################################################
## cs_project doesn't support cleanup=true parameter, so can't delete manually created resources
## that are not manually destroyed
##
## Remove project
##
#- name: Delete project
#  local_action:
#    module: cs_project
#    name: "{{ build_project }}"
#    state: absent
#    api_timeout: 120
#  when: (removeproject is defined) or destroy_forced
#  ignore_errors: yes
####################################################################
- name: get projectid
  shell: cmk listProjects | jq -c '.project[] | select(.name | contains("{{ build_project }}"))' | jq '.id'
  register: projectid
- debug: msg="{{ projectid.stdout }}"

- name: Delete project (using cmk, with cleanup)
  shell: "cmk deleteproject id={{ projectid.stdout }} cleanup=true"
