---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.

- name: Wait for SSH
  local_action: wait_for port=22 host="{{ ansible_ssh_host }}" timeout={{ ssh_retries }} connect_timeout=5

- name: enable vMotion on VMKernel
  raw: vim-cmd hostsvc/vmotion/vnic_set vmk0
  ignore_errors: true

- name: Add vSwitch1 (raw used for pre 6.0 compatibility)
  raw: esxcli network vswitch standard add --vswitch-name=vSwitch1 --ports=1024
  ignore_errors: true
  when: not esxi_use_dvswitch

- name: Add interface to vSwitch1 (raw used for pre 6.0 compatibility)
  raw: esxcli network vswitch standard uplink add --uplink-name=vmnic1 --vswitch-name=vSwitch1
  ignore_errors: true
  when: not esxi_use_dvswitch

- name: make nic active (raw used for pre 6.0 compatibility)
  raw: esxcli network vswitch standard policy failover set --vswitch-name=vSwitch1 --active-uplinks=vmnic1
  ignore_errors: true
  when: not esxi_use_dvswitch

- name: Set MTU on vSwitch 0 to 4500
  raw: esxcfg-vswitch -m 4500 vSwitch0
  ignore_errors: true
  when: not esxi_use_dvswitch

- name: Set MTU on vmk0 to 4500
  raw: esxcli network ip interface set -m 4500 -i vmk0
  ignore_errors: true
  when: not esxi_use_dvswitch

- name: Enable software iSCSI
  raw: esxcli iscsi software set --enabled=true
  ignore_errors: true

- name: Find SW iSCSI adapter name - not always vmhba33
  raw: esxcli storage core adapter list | grep -i iscsi | awk '{print $1}'
  register: iscsihba
  ignore_errors: true

- name: Set iSCSI initiator name
  raw: esxcli iscsi adapter set --adapter {{ iscsihba.stdout | regex_replace('\s+$', '') }} --name={{ env_iscsi_target }}.{{ inventory_hostname }}:{{ env_uuid }}
  ignore_errors: true

- name: Check initiator name
  raw: esxcli iscsi adapter get --adapter {{ iscsihba.stdout | regex_replace('\s+$', '') }} | grep -i name | grep -vi driver | awk '{print $2}'
  register: iscsiininame
  ignore_errors: true

- name: Report iSCSI HBA
  debug: msg="Software iSCSI adapter detected{{ ":" }} {{ iscsihba.stdout | regex_replace('\s+$', '') }}"

- name: Report iSCSI initiator name
  debug: msg="Software iSCSI initiator{{ ":" }} {{ iscsiininame.stdout | regex_replace('\s+$', '') }}"

- name: Bind software iSCSI adapter
  raw: esxcli iscsi networkportal add --adapter {{ iscsihba.stdout | regex_replace('\s+$', '') }} --nic vmk0
  ignore_errors: true

#- name: Reset Evaluation Timer for new deployment
#  shell: "rm -r /etc/vmware/license.cfg && cp /etc/vmware/.#license.cfg /etc/vmware/license.cfg && /etc/init.d/vpxa restart"
#  ignore_errors: true

- include: ./add_local_storage.yml
  when: use_local_storage
