#!/bin/bash
cmk sync

# assumes presence of jq and cloudmonkey
# and template names set and CKS API enabled

# add min CKS service offering

cmk create serviceoffering cpunumber={{ min_cks_service_offering.cpunumber }} cpuspeed={{ min_cks_service_offering.cpuspeed }} displaytext='{{ min_cks_service_offering.displaytext }}' memory={{ min_cks_service_offering.memory }} name='{{ min_cks_service_offering.name }}' offerha={{ min_cks_service_offering.offerha }}


# upload versions
{% for item in cks_version %}
cmk add kubernetessupportedversion semanticversion={{ item.semantic_version }} url={{ item.url }} mincpunumber={{ min_cks_service_offering.cpunumber }} minmemory={{ min_cks_service_offering.memory }}
{% endfor %}

