#!/bin/bash

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.


while getopts "e:h::u::p::d::n:m:r:s:" opt; do
  case $opt in
    e)
      ENVNAME=$OPTARG;
      ;;
    h)
      HOST=$OPTARG;
      ;;
    u)
      USERNAME=$OPTARG;
      ;;
    p)
      PASSWORD=$OPTARG;
      ;;
    d)
      db=$OPTARG;
      ;;
    n)
      prihost=$OPTARG;
      ;;
    m)
      sechost=$OPTARG;
      ;;
    r)
      prinfspath=$OPTARG;
      ;;
    s)
      secnfspath=$OPTARG;
      ;;
   *)
      echo "-e <ENV_name> -h <ENV_Database IP> -u <ENV_username> -p <ENV_password> -d <ENV_database name> -n <primary nfs host ip> -m <secondary nfs host ip> -r <primary nfs path> -s <Secondary NFS Path>" >&2
      exit 1
      ;;
    :)
      echo "Option -$OPTARG requires an argument." >&2
      exit 1
      ;;
  esac
done

#Look at putting the Defaults into a file
if [[ -z $HOST ]]; then
         HOST="10.2.0.3"
  fi
if [[ -z $USERNAME ]]; then
          USERNAME="root"
   fi
if [[ -z $PASSWORD ]]; then
           PASSWORD="P@ssword123"
    fi
if [[ -z $db ]]; then
            db="acstest"
     fi

#MySQL Command
mysqlcommand="mysql -h$HOST -u$USERNAME -p$PASSWORD -s -N -e"

#Table Names
podtbl="podnetworks"
pubtbl="pubnetworks"

#NFS Host
#prihost=`$mysqlcommand "SELECT host FROM $db.$pritbl WHERE environmentname = '$ENVNAME'"`
#sechost=`$mysqlcommand "SELECT host FROM $db.$sectbl WHERE environmentname = '$ENVNAME'"`

`$mysqlcommand "UPDATE $db.$podtbl SET inuse = 'FALSE' WHERE environmentname = '$ENVNAME'"`;
`$mysqlcommand "UPDATE $db.$pubtbl SET inuse = 'FALSE' WHERE environmentname = '$ENVNAME'"`;

#Update Timestamp
`$mysqlcommand "UPDATE $db.$podtbl SET removed = NOW() WHERE environmentname = '$ENVNAME'"`;
`$mysqlcommand "UPDATE $db.$pubtbl SET removed = NOW() WHERE environmentname = '$ENVNAME'"`;

#Added Comments
`$mysqlcommand "UPDATE $db.$podtbl SET comment = '' WHERE environmentname = '$ENVNAME'"`;
`$mysqlcommand "UPDATE $db.$pubtbl SET comment = '' WHERE environmentname = '$ENVNAME'"`;

#Added a Environment Name
`$mysqlcommand "UPDATE $db.$podtbl SET environmentname = '' WHERE environmentname = '$ENVNAME'"`;
`$mysqlcommand "UPDATE $db.$pubtbl SET environmentname = '' WHERE environmentname = '$ENVNAME'"`;

#Connect to NFS Server to create directories
sshpass -p $PASSWORD ssh -oStrictHostKeyChecking=no -l $USERNAME $prihost "rm -rf $prinfspath/$ENVNAME/pri1; rm -rf $prinfspath/$ENVNAME/pri2";
sshpass -p $PASSWORD ssh -oStrictHostKeyChecking=no -l $USERNAME $sechost "rm -rf $secnfspath/$ENVNAME/sec";
