---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.


# Environment vars
marvin_network: "{{ marvin_network | default( def_marvin_network ) }}"
management_network: "{{ management_network | default( def_management_network ) }}"
guest_public_network: "{{ guest_public_network | default( def_guest_public_network ) }}"
management_vm_hypervisor: "{{ management_vm_hypervisor | default( def_management_vm_hypervisor ) }}"
build_project: "{{ build_project }}"
build_zone: "{{ build_zone | default( def_build_zone ) }}"
build_keyboard: "{{ build_keyboard | default( def_build_keyboard ) }}"
ssh_retries: {{ ssh_retries | default( def_ssh_retries ) }}
env_timezone: "{{ env_timezone | default(def_env_timezone) }}"
use_external_hv_hosts: "{{ use_external_hv_hosts | default(no) }}"
use_dvfilter: {{ use_dvfilter | default(def_use_dvfilter) }}
use_phys_hosts: {{ use_phys_hosts | default(def_use_phys_hosts) }}
setshortname: {{ setshortname | default(def_setshortname) }}
use_custom_allocator: {{ use_custom_allocator | default(def_use_custom_allocator) }}
use_firewalld: {{ use_firewalld | default( def_use_firewalld ) }}

# Environment database settings
env_db_name: "{{ env_db_name | default( def_env_db_name ) }}"
env_db_ip: "{{ env_db_ip | default( def_env_db_ip ) }}"
env_db_user: "{{ env_db_user | default( def_env_db_user ) }}"
env_db_password: "{{ env_db_password | default( def_env_db_password ) }}"


# Environment summary
env_uuid: "{{ env_uuid.stdout }}"
additional_zone: {{ additional_zone }}
additional_pod: {{ additional_pod }}
existing_zone: "{{ existing_zone | default("NA") }}"
region_mgmt_ip: "{{ region_mgmt_ip | default("NA") }}"
vcenter_ip: "{{ vcenter_ip | default("NA") }}"
env_name_clean: "{{ env_name_clean | mandatory }}"
env_ssh_key_path: {{ env_ssh_key_path | default( def_env_ssh_key_path ) }}
{% if env_dotted_version is not defined %}
# -- this is old version b4 dotted notation of version
env_version: "{{ env_version }}"
{% if env_version[0:2] == "cs" %}
{% set majorversion = env_version[2:3] %}
{% set minorversion = env_version[3:6] %}
env_cs_distribution: "{{ env_cs_distribution | default("cs") }}"
{% else %}
env_cs_distribution: "{{ env_cs_distribution | default("ccp") }}"
{% set majorversion = env_version[3:4] %}
{% set minorversion = env_version[4:7] %}
{% endif %}
{% set numversion = majorversion~ "." ~minorversion %}
{% set env_repo_version_var = numversion %}
{% set env_cs_minor_version_string = env_version %}
env_numversion: "{{ numversion }}"
env_cs_minor_version_string: "{{ env_cs_minor_version_string }}"
env_repo_version_var:  "{{ env_repo_version_var }}"
{% endif %}
{% if env_dotted_version is defined %}
env_numversion: "{{ env_cs_numeric_version }}"
env_cs_distribution: "{{ env_cs_distribution }}"
env_cs_numeric_version: "{{ env_cs_numeric_version }}"
env_cs_major_version: "{{ env_cs_major_version }}"
env_cs_minor_version: "{{ env_cs_minor_version }}"
env_cs_subminor_version: "{{ env_cs_subminor_version }}"
env_cs_security_version:  "{{ env_cs_security_version }}"
env_version: "{{ env_version }}"
env_repo_version_var: "{{ env_repo_version_var }}"
env_cs_minor_version_string: "{{ env_cs_minor_version_string }}"
{% endif %}


env_comment: "{{ env_comment }}"
env_user: "{{ env_user }}"
{% if env_accounts | lower == "all" %}
env_accounts: "{{ allaccts_retval.stdout }}"
{% elif env_accounts == "" %}
env_accounts: "{{ env_user }}"
{% else %}
env_accounts: "{{ env_accounts }}"
{% endif %}
env_zonetype:  "{{ env_zonetype | default( def_env_zonetype ) }}"
{% if hvtype[0:1] | lower == "v" %}
env_hv: "vmware"
{% elif hvtype[0:1] | lower == "x" %}
env_hv: "xenserver"
{% elif hvtype[0:1] | lower == "k" %}
env_hv: "kvm"
{% else %}
env_hv: "other"
{% endif %}
env_prihost: "{{ env_prihost | default( def_env_prihost ) }}"
env_prihost_iscsi: "{{ env_prihost_iscsi | default( def_env_prihost_iscsi ) }}"
env_sechost: "{{ env_sechost | default( def_env_sechost ) }}"
env_pripath: "{{ env_pripath | default( def_env_pripath ) }}"
env_pripath_iscsi: "{{ env_pripath_iscsi | default( def_env_pripath_iscsi ) }}"
env_iscsilunsize: "{{ env_iscsilunsize | default( def_env_iscsilunsize ) }}"
env_iscsi_target: "{{ env_iscsi_target | default( def_env_iscsi_target ) }}"
env_secpath: "{{ env_secpath | default( def_env_secpath ) }}"
pri_password: "{{ pri_password | default( def_pri_password ) }}"
pri_password_iscsi: "{{ pri_password_iscsi | default( def_pri_password_iscsi ) }}"
sec_password: "{{ sec_password | default( def_sec_password ) }}"
env_priprot: "{{ env_priprot | default( def_env_priprot ) }}"
{% if pri | int > 0 %}
env_pripools:
{% if vmware_ver | lower != "na" %}
{% for n in range(1,pri | int + 1) %}
  - {{ env_name_clean }}-esxi-pri{{ n }}
{% endfor %}
{% endif %}
{% if kvm_os | lower != "na" %}
{% for n in range(1,pri | int + 1) %}
  - {{ env_name_clean }}-kvm-pri{{ n }}
{% endfor %}
{% endif %}
{% if xs_ver | lower != "na" %}
{% for n in range(1,pri | int + 1) %}
  - {{ env_name_clean }}-xs-pri{{ n }}
{% endfor %}
{% endif %}
{% endif %}
env_pripoolsmarvin:
  - marvin_pri1
  - nfs2
{% if sec | int > 0 %}
env_secpools:
{% for n in range(1,sec | int + 1) %}
  - {{ env_name_clean }}-sec{{ n }}
{% endfor %}
{% endif %}
{% if env_zonetype | default( def_env_zonetype ) | lower == "advanced" %}
env_zone_secgroups: "{{ env_zone_secgroups | default( def_env_zone_secgroups_advanced ) }}"
{% elif env_zonetype | default( def_env_zonetype ) | lower == "basic" %}
env_zone_secgroups: "{{ env_zone_secgroups | default( def_env_zone_secgroups_basic ) }}"
{% else %}
env_zone_secgroups: "{{ env_zone_secgroups | default( def_env_zone_secgroups_advanced ) }}"
{% endif %}
env_zone_guestcidr: "{{ env_zone_guestcidr | default( def_env_zone_guestcidr ) }}"
env_zone_dns1: "{{ env_zone_dns1 | default( def_env_zone_dns1 ) }}"
env_zone_dns2: "{{ env_zone_dns2 | default( def_env_zone_dns2 ) }}"
env_zone_intdns1: "{{ env_zone_intdns1 | default( def_env_zone_intdns1 ) }}"
env_zone_intdns2: "{{ env_zone_intdns2 | default( def_env_zone_intdns2 ) }}"
env_zone_localstorage: "{{ localstorage | default( def_env_zone_localstorage ) }}"
env_zone_podname: "{{ env_zone_podname | default( def_env_zone_podname ) }}"
env_zone_clustername: "{{ env_zone_clustername | default( def_env_zone_clustername ) }}"
env_zone_addhosts: "{{ env_zone_addhosts | default( def_env_zone_addhosts ) }}"

env_zone_systemplate_str:
{% if vmware_ver | lower != "na" %}  - "-u {{ env_zone_systemplate | default ( def_system_templates[env_version].vmware_url ) }} -h vmware -F"
{% endif %}
{% if xs_ver | lower != "na" %}  - "-u {{ env_zone_systemplate | default ( def_system_templates[env_version].xs_url ) }} -h xenserver -F"
{% endif %}
{% if kvm_os | lower != "na" %}  - "-u {{ env_zone_systemplate | default ( def_system_templates[env_version].kvm_url ) }} -h kvm -F"
{% endif %}


wait_till_setup: {{ wait_till_setup | default( def_wait_till_setup ) }}
build_marvin: {{ build_marvin | default (def_build_marvin) }}
wait_for_template: {{ wait_for_template | default("no") }}
force_java: {{ force_java | default("no") }}
use_local_templates: {{ use_local_templates | default( def_use_local_templates ) }}
env_iscsi_test_target: "{{ env_iscsi_test_target | default (def_env_iscsi_test_target) }}"
env_iscsi_test_host: "{{ env_iscsi_test_host | default (def_env_iscsi_test_host) }}"
use_local_storage: {{ use_local_storage | default( def_use_local_storage ) }}
use_shared_storage: {{ use_shared_storage | default( def_use_shared_storage ) }}
use_local_storage_systemvms: {{ use_local_storage_systemvms | default( def_use_local_storage_systemvms ) }}
local_storage_disk_offering: "{{ local_storage_disk_offering | default( def_local_storage_disk_offering ) }}"
local_storage_disk_size: "{{ local_storage_disk_size | default( def_local_storage_disk_size ) }}"
add_def_user: "{{ add_def_user | default("yes") }}"

# Management server
env_num_pods: {{ env_num_pods | default( def_env_num_pods ) }}
env_num_zones: {{ env_num_zones | default( def_env_num_zones ) }}
env_mgmtos: "{{ linux_os[mgmt_os].os }}"
mgmtsrv_service_offering: "{{ mgmtsrv_service_offering | default( def_mgmtsrv_service_offering ) }}"
mgmtsrv_template: "{{ mgmtsrv_template | default( linux_os[mgmt_os].template ) }}"
mgmtsrv_username: "{{ mgmtsrv_username | default( def_mgmtsrv_username ) }}"
mgmtsrv_password: "{{ mgmtsrv_password | default( def_mgmtsrv_password ) }}"
use_custom_browser_title: {{ use_custom_browser_title | default ( def_use_custom_browser_title ) }}

{% if env_dotted_version is not defined or env_cs_subminor_version == env_cs_minor_version %}
cloudstack_management_package: "cloudstack-management"
{% else %}
cloudstack_management_package: "cloudstack-management-{{ env_cs_numeric_version }}"
{% endif %}

{% if env_cs_distribution != "ccp" %}
{% set releaseurl = linux_os[mgmt_os].os_type %}
{% if rooturl_cloudstack is defined %}
{% set baseurl = rooturl_cloudstack~releaseurl~"/"~env_repo_version_var~"/" %}
{% elif baseurl_cloudstack is defined %}
{% set baseurl = baseurl_cloudstack %}
{% else %}
{% set baseurl = def_rooturl_cloudstack~releaseurl~"/"~env_repo_version_var~"/" %}
{% endif %}
{% set baseurl_mgmt_suffix = releaseurl~"/" %}
baseurl_mgmt_suffix: "{{ baseurl_mgmt_suffix }}"
baseurl_cloudstack: "{{ baseurl }}"
{% endif %}


{% if create_zone is not defined %}{% set createzone = "yes" %}{% else %}{% set createzone = create_zone %}{% endif %}
create_zone: {{ createzone }}
{% if ccp_install_tarball is not defined %}{% set ccp_tarball = "na" %}{% else %}{% set ccp_tarball = ccp_install_tarball %}{% endif %}
ccp_install_tarball: {{ ccp_tarball }}

# mamagement server java

{% if mgmt_java_ver is not defined %}
{% set mgmtjava = java_vers[env_cs_minor_version_string] %}
{% else %}
{% set mgmtjava = mgmt_java_ver %}
{% endif %}
mgmt_java_ver: "{{ mgmtjava }}"
{% set mgmt_os_type = linux_os[mgmt_os].os_type %}
{% if mgmt_java_path is not defined %}
{% set mgmtjavapath = java_paths[mgmt_os_type][mgmtjava] %}
{% else %}
{% set mgmtjavapath = mgmt_java_path %}
{% endif %}
mgmt_java_path: "{{ mgmtjavapath }}"

# DB servers
dbsrv_service_offering: "{{ dbsrv_service_offering | default( def_dbsrv_service_offering ) }}"
dbsrv_template: "{{ dbsrv_template | default( def_dbsrv_template ) }}"
dbsrv_username: "{{ dbsrv_username | default( def_dbsrv_username ) }}"
dbsrv_password: "{{ dbsrv_password | default( def_dbsrv_password ) }}"
mysql_cloud_password: "{{ mysql_cloud_password | default( def_mysql_cloud_password ) }}"
mysql_root_password: "{{ mysql_root_password | default( def_mysql_root_password ) }}"
mysql_replication_password: "{{ mysql_replication_password | default( def_mysql_replication_password ) }}"
old_mysql_root_password: "{{ old_mysql_root_password | default( def_old_mysql_root_password ) }}"
db_type: "{{ db_type | default( def_db_type ) }}"
mysql_max_connections: "{{ mysql_max_connections | default( def_mysql_max_connections ) }}"
mysql_innodb_buffer_pool_size: "{{ mysql_innodb_buffer_pool_size | default( def_mysql_innodb_buffer_pool_size ) }}"

# KVM
{% if kvm_os is undefined %}{% set kvm_os = "na" %}{% endif %}
{% if env_cs_distribution != "ccp" %}
kvm_service_offering: "{{ kvm_service_offering | default( def_kvm_service_offering ) }}"
{% set kvmreleaseurl = linux_os[kvm_os].os_type %}
{% set kvmosversion = linux_os[kvm_os].os %}
{% if kvmosversion != "custom" %}
{% if rooturl_kvm is defined %}
{% set baseurlkvm = rooturl_kvm~kvmreleaseurl~"/"~env_repo_version_var~"/" %}
{% elif baseurl_kvm is defined %}
{% set baseurlkvm = baseurl_kvm %}
{% elif rooturl_cloudstack is defined %}
{% set baseurlkvm = rooturl_cloudstack~kvmreleaseurl~"/"~env_repo_version_var~"/" %}
{% elif baseurl_cloudstack is defined %}
{% set baseurlkvm = baseurl_cloudstack %}
{% else %}
{% set baseurlkvm = def_rooturl_cloudstack~kvmreleaseurl~"/"~env_repo_version_var~"/" %}
{% endif %}
{% else %}
{% set baseurlkvm = baseurl_kvm %}
{% endif %}
{% set baseurl_kvm_suffix = kvmreleaseurl~"/" %}
baseurl_kvm_suffix: "{{ baseurl_kvm_suffix }}"
baseurl_kvm: "{{ baseurlkvm | default( baseurl ) }}"
{% if env_dotted_version is not defined or env_cs_subminor_version == env_cs_minor_version %}
cloudstack_agent_package: "cloudstack-agent"
{% else %}
cloudstack_agent_package: "cloudstack-agent-{{ env_cs_numeric_version }}"
{% endif %}
{% endif %}

kvm_template: "{{ kvm_template | default( linux_os[kvm_os].template ) }}"
kvm_mgmt_network_label: "{{ kvm_mgmt_network_label | default( def_kvm_mgmt_network_label ) }}"
kvm_guest_network_label: "{{ kvm_guest_network_label | default( def_kvm_guest_network_label ) }}"
kvm_public_network_label: "{{ kvm_public_network_label | default( def_kvm_public_network_label ) }}"
kvm_network_mode: "{{ kvm_network_mode | default( def_kvm_network_mode ) }}"
kvm_centos_ovsrpm: "{{ kvm_centos_ovsrpm | default( def_kvm_centos_ovsrpm ) }}"
kvm_username: "{{ kvm_username | default( def_kvm_username ) }}"
kvm_password: "{{ kvm_password | default( def_kvm_password ) }}"

kvm_localstorage_mount: "{{ kvm_localstorage_mount | default( def_kvm_localstorage_mount ) }}"
phys_host_mgmt_if: "{{ phys_host_mgmt_if | default( def_phys_host_mgmt_if ) }}"
phys_host_trunked_if: "{{ phys_host_trunked_if | default( def_phys_host_trunked_if ) }}"
phys_host_PXE_if: "{{ phys_host_PXE_if | default( def_phys_host_PXE_if ) }}"
kvm_install_elrepo_kernel: {{ kvm_install_elrepo_kernel | default( def_kvm_install_elrepo_kernel) }}
kvm_elrepo_kernel_version: "{{ kvm_elrepo_kernel_version| default( def_kvm_elrepo_kernel_version ) }}"


# set kvm host java

{% if kvm_java_ver is not defined %}
{% set kvmjava = java_vers[env_cs_minor_version_string] %}
{% else %}
{% set kvmjava = kvm_java_ver %}
{% endif %}
kvm_java_ver: "{{ kvmjava }}" 
{% if kvm_java_path is not defined %}
{% set kvm_os_type = linux_os[kvm_os].os %}
{% set kvmjavapath = java_paths[kvm_os_type][kvmjava] %}
{% else %}
{% set kvmjavapath = kvm_java_path %}
{% endif %}
kvm_java_path: "{{ kvmjavapath }}"

# XS
{% if xs_ver is undefined %}{% set xs_ver = "na" %}{% endif %}
xs_ver: "{{ xs_ver }}"
xs_service_offering: "{{ xs_service_offering | default( def_xs_service_offering ) }}"
xs_template: "{{ xs_template | default( def_xenserver_templates[xs_ver].xs_template ) }}"
xs_mgmt_network_nic: "{{ xs_mgmt_network_nic | default( def_xs_mgmt_network_nic ) }}"
xs_mgmt_network_label: "{{ xs_mgmt_network_label | default( def_xs_mgmt_network_label ) }}"
xs_guest_network_nic: "{{ xs_guest_network_nic | default( def_xs_guest_network_nic ) }}"
xs_guest_network_label: "{{ xs_guest_network_label | default( def_xs_guest_network_label ) }}"
xs_public_network_nic: "{{ xs_public_network_nic | default( def_xs_public_network_nic ) }}"
xs_public_network_label: "{{ xs_public_network_label | default( def_xs_public_network_label ) }}"
xs_username: "{{ xs_username | default( def_xs_username ) }}"
xs_password: "{{ xs_password | default( def_xs_password ) }}"
xs_license_server: "{{ xs_license_server | default( def_xs_license_server ) }}"
xs_license_server_port: "{{ xs_license_server_port | default( def_xs_license_server_port ) }}"
xs_apply_license: {{ xs_apply_license | default( def_xs_apply_license) }}
xs_license_edition: "{{ xs_license_edition | default( def_xs_license_edition ) }}"

# VMware
{% if vmware_ver is undefined %}{% set vmware_ver = "na" %}{% endif %}
vmware: "{{ vmware_ver }}"  ##-- LEGACY REMOVE SOONEST
vmware_ver: "{{ vmware_ver }}"
esxi_template: "{{ esxi_template | default( def_vmware_templates[vmware_ver].esxi_template ) }}"
vc_template: "{{ vc_template | default( def_vmware_templates[vmware_ver].vc_template ) }}"
esxi_service_offering: "{{ esxi_service_offering | default( def_esxi_service_offering ) }}"
vc_service_offering: "{{ vc_service_offering | default( def_vc_service_offering ) }}"
esxi_use_dvswitch: {{ esxi_use_dvswitch | default( def_esxi_use_dvswitch ) }}
esxi_use_mgmt_dvswitch: {{ esxi_use_mgmt_dvswitch | default( def_esxi_use_mgmt_dvswitch ) }}
esxi_mgmt_network_label: "{{ esxi_mgmt_network_label | default( def_esxi_mgmt_network_label ) }}"
esxi_guest_network_label: "{{ esxi_guest_network_label | default( def_esxi_guest_network_label ) }}"
esxi_public_network_label: "{{ esxi_public_network_label | default( def_esxi_public_network_label ) }}"
esxi_mgmt_dvs_network_label: "{{ esxi_mgmt_dvs_network_label | default( def_esxi_mgmt_dvs_network_label ) }}"
esxi_guest_dvs_network_label: "{{ esxi_guest_dvs_network_label | default( def_esxi_guest_dvs_network_label ) }}"
esxi_public_dvs_network_label: "{{ esxi_public_dvs_network_label | default( def_esxi_public_dvs_network_label ) }}"

# VMware datacentre configuration
{% if vmware_ver == "50u1" %}vmware_vcsa_user: "{{ vmware_vcsa_user | default( def_vmware_vcsa_50_51_user ) }}"
{% elif vmware_ver == "51u1" %}vmware_vcsa_user: "{{ vmware_vcsa_user | default( def_vmware_vcsa_50_51_user ) }}"
{% elif vmware_ver == "51u2" %}vmware_vcsa_user: "{{ vmware_vcsa_user | default( def_vmware_vcsa_50_51_user ) }}"
{% elif vmware_ver == "51u3" %}vmware_vcsa_user: "{{ vmware_vcsa_user | default( def_vmware_vcsa_50_51_user ) }}"
{% else %}vmware_vcsa_user: "{{ vmware_vcsa_user | default( def_vmware_vcsa_user ) }}"
{% endif %}
vmware_vcsa_pass: "{{ vmware_vcsa_pass | default( def_vmware_vcsa_pass ) }}"
vmware_datacenter_name: "{{ vmware_datacenter_name | default( def_vmware_datacenter_name ) }}"
vmware_esxi_username: "{{ vmware_esxi_username | default( def_vmware_esxi_username ) }}"
vmware_esxi_password: "{{ vmware_esxi_password | default( def_vmware_esxi_password ) }}"

# Marvin server
marvin_service_offering: "{{ marvin_service_offering | default( def_marvin_service_offering ) }}"
marvin_server_template: "{{ marvin_server_template | default( def_marvin_server_template ) }}"
marvin_username: "{{ marvin_username | default( def_marvin_username ) }}"
marvin_password: "{{ marvin_password | default( def_marvin_password ) }}"
marvin_tests_source: "{{ marvin_tests_source | default ( def_marvin_tests_source) }}"
marvin_tests_github_source: "{{ marvin_tests_github_source | default ( def_marvin_tests_github_source ) }}"
marvin_images_location: "{{ marvin_images_location | default ( def_marvin_images_location ) }}"
openvm_images_location: "{{ openvm_images_location | default ( def_openvm_images_location ) }}"
{% if run_component_tests is not defined %}{% set run_component_tests = no %}{% endif %}run_component_tests: {{ run_component_tests }}
{% if run_smoke_tests is not defined %}{% set run_smoke_tests = no %}{% endif %}run_smoke_tests: {{ run_smoke_tests }}
{% if baseurl_marvin is not defined %}
{% if rooturl_cloudstack is defined %}
{% set marvinbaseurl = rooturl_cloudstack~"centos7"~"/"~env_repo_version_var~"/" %}
{% else %}
{% set marvinbaseurl = def_rooturl_cloudstack~"centos7"~"/"~env_repo_version_var~"/" %}
{% endif %}
{% else %}
{% set marvinbaseurl = baseurl_marvin %}
{% endif %}
baseurl_marvin: "{{ marvinbaseurl }}"
fallback_marvin_test_repo: "{{ fallback_marvin_test_repo | default( def_fallback_marvin_test_repo ) }}"
fixtests: {{ fixtests | default("no") }}
force_marvin_fallback: {{ force_marvin_fallback | default("no") }}
{% if marvin_test_categories is defined %}
marvin_test_categories:
{% set clean_cat = (marvin_test_categories.replace(" ", "")).split(",") %}
{% for category in clean_cat %}
  - {{ category }}
{% endfor %}
{% endif %}

# SSL
ssl_systemvm: "{{ ssl_systemvm | default ( def_ssl_systemvm ) }}"
ssl_mgmt: "{{ ssl_mgmt | default ( def_ssl_mgmt ) }}"
ssl_key: "{{ ssl_key | default ( def_ssl_key ) }}"
ssl_cert: "{{ ssl_cert | default ( def_ssl_cert ) }}"
ssl_rootcert: "{{ ssl_rootcert | default ( def_ssl_rootcert ) }}"
systemvm_url: "{{ systemvm_url | default ( def_systemvm_url ) }}"
ssl_keystore: "{{ ssl_keystore | default ( def_ssl_keystore ) }}"
ssl_keystore_password: "{{ ssl_keystore_password | default ( def_ssl_keystore_password ) }}"
ssl_port: "{{ ssl_port | default ( def_ssl_port ) }}"

# Hipchat cli client
use_hipchat: {{ use_hipchat | default( def_use_hipchat) }}
hipchat_server: "{{ hipchat_server | default( def_hipchat_server ) }}"
hipchat_token: "{{ hipchat_token | default ( def_hipchat_token ) }}"
hipchat_cli_client_location: "{{ hipchat_cli_client_location | default ( def_hipchat_cli_client_location ) }}"
hipchat_cli_client_version: "{{ hipchat_cli_client_version | default ( def_hipchat_cli_client_version ) }}"

# webhook client
use_webhooks: {{ use_webhooks | default( def_use_webhooks ) }}
marvin_notifi_webhook_url: "{{ marvin_notifi_webhook_url | default( def_marvin_notifi_webhook_url ) }}"

# slack client
use_slack: {{ use_slack | default( def_use_slack) }}
slackcli_url: "{{ slackcli_url | default( def_slackcli_url ) }}"
slack_token: "{{ slack_token | default( def_slack_token ) }}"
slack_channel: "{{ slack_channel | default( def_slack_channel ) }}"
slack_username: "{{ slack_username | default( def_slack_username ) }}"
slack_icon_url: "{{ slack_icon_url | default( def_slack_icon_url ) }}"
slack_color: "{{ slack_color | default( def_slack_color ) }}"
slack_webhook: "{{ slack_webhook | default( def_slack_webhook ) }}"
