{% if ansible_distribution_release == "trusty" %}
deb [arch=amd64] {{ repohost }}/ubuntu/ trusty main restricted universe
deb-src {{ repohost }}/ubuntu/ trusty main restricted

deb [arch=amd64] {{ repohost }}/ubuntu/ trusty-updates main restricted universe
deb-src {{ repohost }}/ubuntu/ trusty-updates main restricted

deb [arch=amd64] {{ repohost }}/ubuntu trusty-security main restricted universe
deb-src {{ repohost }}/ubuntu trusty-security main restricted 
{% endif %}

{% if ansible_distribution_release == "xenial" %}

deb {{ repohost }}/ubuntu/ xenial main restricted
deb {{ repohost }}/ubuntu/ xenial-updates main restricted
deb {{ repohost }}/ubuntu/ xenial universe
deb {{ repohost }}/ubuntu/ xenial-updates universe

{% endif %}