deb [arch=amd64] {{ repohost }}/ubuntu/ trusty main restricted
deb-src {{ repohost }}/ubuntu/ trusty main restricted

deb [arch=amd64] {{ repohost }}/ubuntu/ trusty-updates main restricted
deb-src {{ repohost }}/ubuntu/ trusty-updates main restricted

deb [arch=amd64] {{ repohost }}/ubuntu trusty-security main
deb-src {{ repohost }}/ubuntu trusty-security main
deb [arch=amd64] {{ repohost }}/ubuntu trusty-security restricted
deb-src {{ repohost }}/ubuntu trusty-security restricted
