deb [arch=amd64] {{ repohost }}/ubuntu/ trusty main restricted universe
deb-src {{ repohost }}/ubuntu/ trusty main restricted

deb [arch=amd64] {{ repohost }}/ubuntu/ trusty-updates main restricted universe
deb-src {{ repohost }}/ubuntu/ trusty-updates main restricted

deb [arch=amd64] {{ repohost }}/ubuntu trusty-security main restricted universe
deb-src {{ repohost }}/ubuntu trusty-security main restricted 
