#!/bin/bash
################################################################################
# addpod.sh
# Populated by Ansible as part of deployvms.yml playbook.

################################################################################
# Vars / constants
DEPLOYLOG="/tmp/addpod-ref-trl-1709-v-M7-paul-angus.log";

################################################################################
# Write to log file + console
function WriteOutput()
{
  local LogTimestamp;
  LogTimestamp=`date +"%Y-%m-%d %H:%M:%S"`;
  echo -e "$*"
  echo ${LogTimestamp} "$*" >> ${DEPLOYLOG};
}

WriteOutput "Checking login.";
AccountCheck=`cloudmonkey list accounts name=admin | grep -i error`;
if [ -z ${AccountCheck} ];
then
  WriteOutput "Admin account found. Good to go.";
else
  WriteOutput "Unable to log in, please check CloudStack installation.";
  exit 1;
fi

WriteOutput "Checking if zone exists."
ZoneID=`cloudmonkey list zones name=ref-trl-1699-v-M7-paul-angus| jq '.zone[]|.id'`;
WriteOutput "$ZoneID"
if [ -n ${ZoneID} ];
then
  WriteOutput "Zone found. Good to go."
else
  WriteOutput "Zone not present, bailing out."
  exit 1
fi
 WriteOutput "Disabling CIDR check."
cloudmonkey update configuration name=check.pod.cidrs value=false | tee -i -a ${DEPLOYLOG};

NUMPODS=`cloudmonkey list pods|jq .count`
NEXTPOD=$((NUMPODS+1))
PODNAME="Pod$NEXTPOD-ref-trl-1709-v-M7-paul-angus"

WriteOutput "Adding ${PODNAME} to zone ref-trl-1699-v-M7-paul-angus (ID ${ZoneID}).";
WriteOutput "Creating Pod.";
WriteOutput "Adding mgmt for physical hosts"
cloudmonkey create pod zoneid=${ZoneID} name="${PODNAME}" gateway="10.10.254.254" netmask="255.255.0.0" startip="10.10.5.101" endip="10.10.5.120" | tee -i -a ${DEPLOYLOG};

PodID=`cloudmonkey list pods name="${PODNAME}" zoneid=${ZoneID} filter=id | jq '.pod[] | .id'`;

if [ "advanced" == "basic" ]; then
  cloudmonkey create vlaniprange podid=${PodID} networkid=${NETIDBAS} gateway="na" netmask="na" startip="na" endip="na" forvirtualnetwork=false zoneid=${ZoneID} | tee -i -a ${DEPLOYLOG};
fi
NEXTCLUSTER=1
if [ "67u3" != "na" ];
then
    WriteOutput "Adding VMware cluster."
        cloudmonkey add cluster zoneid=${ZoneID} hypervisor='VMware' clustertype='ExternalManaged' podid=${PodID} url="http://10.10.2.188/Trillian/P2-C1" clustername="P2-C1" vsmipaddress="10.10.2.188" vsmpassword='P@ssword123' vsmusername='Administrator@vsphere.local' | tee -i -a ${DEPLOYLOG};
        ClusterID_VMW=`cloudmonkey list clusters zoneid=${ZoneID} | jq '.cluster[] | .id'`;
    ClusterID_VMW=`cloudmonkey list clusters zoneid=${ZoneID} | jq -r --arg JQVAR "P2-C1" '.cluster[] | select(.name==$JQVAR)| .id'`;
    NEXTCLUSTER=$((NEXTCLUSTER+1))
fi
if  [ "na" != "na" ];
then
  WriteOutput "Adding XenServer cluster.";
  ClusterID_XS=`cloudmonkey add cluster zoneid=${ZoneID} hypervisor='XenServer' clustertype='CloudManaged' podid=${PodID} clustername="$PODNAME-c$NEXTCLUSTER"  | jq '.cluster[] | .id'`;
  WriteOutput "Adding XenServer hosts.";
  if [ "true" == "true" ];
  then
    cloudmonkey add host zoneid=${ZoneID} podid=${PodID} clusterid=${ClusterID_XS} hypervisor=XenServer password="P@ssword123" username="root" url="http://UNDEFINED" | tee -i -a ${DEPLOYLOG};
    NEXTCLUSTER=$((NEXTCLUSTER+1))
  fi
fi
if  [ "na" != "na" ];
then
  WriteOutput "Adding KVM cluster."
  ClusterID_KVM=`cloudmonkey add cluster zoneid=${ZoneID} hypervisor='KVM' clustertype='CloudManaged' podid=${PodID} clustername="$PODNAME-c$NEXTCLUSTER"  | jq '.cluster[] | .id'`;
  if [ "true" == "true" ];
  then
    WriteOutput "Adding KVM hosts."
      fi
fi

  HOST_STATES="DOWN"
  while [[ "$HOST_STATES" == "DOWN" ]]; do
    HOST_CHECK=`cloudmonkey list hosts type=routing zoneid=${ZoneID} | grep '"state":' | grep -i 'alert|disconnected|connecting|down'`
    if [[ -z $HOST_CHECK ]];
    then
      HOST_STATES="ALL UP";
    else
      WriteOutput "Not all hosts reported Up. Checking again in 10 seconds.";
      sleep 10;
    fi
  done
WriteOutput "All hosts reported Up. Continuing";


WriteOutput "Adding Primary Storage pools.";
WriteOutput "Adding Primary Storage pool ref-trl-1709-v-M7-paul-angus-esxi-pri1.";
cloudmonkey create storagepool zoneid=${ZoneID} podid=${PodID} clusterid=${ClusterID_VMW} name='ref-trl-1709-v-M7-paul-angus-esxi-pri1' scope='cluster' url="NFS://10.10.0.16/acs/primary/ref-trl-1709-v-M7-paul-angus/ref-trl-1709-v-M7-paul-angus-esxi-pri1" | tee -i -a ${DEPLOYLOG};
WriteOutput "Adding Primary Storage pool ref-trl-1709-v-M7-paul-angus-esxi-pri2.";
cloudmonkey create storagepool zoneid=${ZoneID} podid=${PodID} clusterid=${ClusterID_VMW} name='ref-trl-1709-v-M7-paul-angus-esxi-pri2' scope='cluster' url="NFS://10.10.0.16/acs/primary/ref-trl-1709-v-M7-paul-angus/ref-trl-1709-v-M7-paul-angus-esxi-pri2" | tee -i -a ${DEPLOYLOG};

WriteOutput "You're done. Good luck!";
