---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.


- name: wait for VM to be alive
  shell: "ping {{ ansible_ssh_host }} -c 1"
  register: pong
  until: pong.rc == 0
  retries: "{{ ssh_retries }}"

- name: Wait for SSH
  local_action: wait_for port=22 host="{{ ansible_ssh_host }}" timeout={{ ssh_retries }} connect_timeout=5
  tags:
    - kvm

- name: symlink /usr/bin/python -> /usr/bin/python3
  raw: |
    if [ -f /usr/bin/python3 ] && [ ! -f /usr/bin/python ]; then
      ln --symbolic /usr/bin/python3 /usr/bin/python;
    fi
  become: true

- name: Now I'm connected, get facts
  setup:
  tags:
    - kvm

#- name: retrieve environment data
#  env_db_manage: DBHOST={{ env_db_ip }} DBUSER={{ env_db_user }} DBPASS={{ env_db_password }} DBNAME={{ env_db_name }} ENV_NAME={{ env_name_clean }} ENV_ZONETYPE={{ env_zonetype }} ENV_SECGROUPS={{ env_zone_secgroups }} ENV_ACTION=retrieve
#  tags:
#    - kvm

- name: Ensure hostname file is not present
  file:
    path: "/etc/hostname"
    state: absent

- name: Configure CentOS VMs for KVM
  include: ./centos.yml
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'
  tags:
    - kvm

- name: Configure KVM VMs for KVM
  include: ./ubuntu.yml
  when: ansible_distribution == 'Ubuntu'
  tags:
    - kvm

- name: Update agent with local storage path
  lineinfile: dest=/etc/cloudstack/agent/agent.properties line="local.storage.path={{ kvm_localstorage_mount }}" state=present
  when: use_local_storage
  tags:
    - kvm
