---

- name: Download kernel DEB packages
  shell: /usr/bin/wget http://10.0.3.122/FromLondon/repos/custom-kernels/{{ item }} -P /tmp
  with_items:
    - linux-headers-5.9.0-050900_5.9.0-050900.202010112230_all.deb
    - linux-headers-5.9.0-050900-generic_5.9.0-050900.202010112230_amd64.deb
    - linux-image-unsigned-5.9.0-050900-generic_5.9.0-050900.202010112230_amd64.deb
    - linux-modules-5.9.0-050900-generic_5.9.0-050900.202010112230_amd64.deb

- name: Install kernel DEB packages
  shell: /usr/bin/dpkg -i /tmp/linux-*.deb

- name: Reboot KVM host to load new kernel
  shell: /sbin/reboot
  async: 0
  poll: 0
  ignore_errors: true

- name: wait for ssh
  local_action: wait_for port=22 host="{{ ansible_ssh_host }}" timeout={{ ssh_retries }} connect_timeout=5
  when: (not use_phys_hosts)
