---

#Copyright 2016 ShapeBlue
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing, software
#distributed under the License is distributed on an "AS IS" BASIS,
#WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#See the License for the specific language governing permissions and
#limitations under the License.


- name: Install basic utilities and tools
  apt: pkg={{ item }} state=installed update_cache=yes
  with_items:
    - openntpd
    - openssh-client
    - telnet
    - tcpdump
    - traceroute
    - iptables-persistent
    - qemu-kvm

- name: set apt repo to local
  template: src="{{ inventory_dir }}/templates/{{ item }}.j2" dest="/etc/apt/{{item}}"
  with_items:
   - "sources.list"

- name: Re-configure cloud-init
  file: path="/etc/cloud/cloud.cfg.d/99_cloudstack.cfg" state=absent

- name: Updated Cloud-init configfile
  lineinfile: dest=/etc/cloud/cloud.cfg.d/90_dpkg.cfg regexp='datasource_list: [ NoCloud, ConfigDrive, OpenNebula, Azure, AltCloud, OVF, MAAS, GCE, OpenStack, CloudSigma, Ec2, CloudStack, SmartOS, None ]' line='datasource_list: [ None ]'

- name: Add specified repository into sources list.
  apt_repository: repo='deb {{ baseurl_kvm }} ./' state=present

- apt_key: url={{ repohost }}/release.asc state=present

- name: Added network instances file
  template: src=interfaces.j2 dest="/etc/network/interfaces"

- name: UFW firerule 22
  shell: "ufw allow proto tcp from any to any port 22"

- name: UFW firerule 1798
  shell: "ufw allow proto tcp from any to any port 1798"

- name: UFW firerule 16509
  shell: "ufw allow proto tcp from any to any port 16509"

- name: UFW firerule vnc
  shell: ufw allow proto tcp from any to any port 5900:6100

- name: UFW firerule 49152
  shell: ufw allow proto tcp from any to any port 49152:49216

- name: Installs cloudstack-agent
  apt: pkg=cloudstack-agent state=installed update_cache=true

- name: Updated /etc/libvirt/libvirtd.conf
  lineinfile: dest=/etc/libvirt/libvirtd.conf regexp="#listen_tls = 0" line="listen_tls = 0"

- name: Updated /etc/libvirt/libvirtd.conf
  lineinfile: dest=/etc/libvirt/libvirtd.conf regexp='#listen_tcp = 1' line='listen_tcp = 1'

- name: Updated /etc/libvirt/libvirtd.conf
  lineinfile: dest=/etc/libvirt/libvirtd.conf regexp='#tcp_port= "16509"' line='tcp_port = "16509"'

- name: Updated /etc/libvirt/libvirtd.conf
  lineinfile: dest=/etc/libvirt/libvirtd.conf regexp='#auth_tcp = "sasl"' line='auth_tcp = "none"'

- name: Updated /etc/libvirt/libvirtd.conf
  lineinfile: dest=/etc/libvirt/libvirtd.conf regexp='#mdns_adv = 1' line='mdns_adv = 0'

- name: Updated /etc/default/libvirt-bin
  lineinfile: dest=/etc/default/libvirt-bin regexp='libvirtd_opts="-d"' line='libvirtd_opts="-d -l"'

- name: update /etc/libvirt/qemu.conf
  lineinfile: dest=/etc/libvirt/qemu.conf regexp='#vnc_listen = "0.0.0.0"' line='vnc_listen = "0.0.0.0"'

- name: Synlink to disable
  file: src=/etc/apparmor.d/usr.sbin.libvirtd dest=/etc/apparmor.d/disable/usr.sbin.libvirtd state=link

- name: Synlink to disable
  file: src=/etc/apparmor.d/usr.lib.libvirt.virt-aa-helper dest=/etc/apparmor.d/disable/usr.lib.libvirt.virt-aa-helper state=link

- name: Apparmor parser libvirt
  shell: apparmor_parser -R /etc/apparmor.d/usr.sbin.libvirtd
  ignore_errors: yes

- name: Apparmor parser libvirt helper
  shell: apparmor_parser -R /etc/apparmor.d/usr.lib.libvirt.virt-aa-helper
  ignore_errors: yes

- name: restart machine (Ubuntu networking restart bug #1301015)
  command: shutdown -r now "Ansible updates triggered"
  async: 0
  poll: 0
  ignore_errors: true
